n8n/admin-verify.json
{
  "name": "ALEBAS — admin-verify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-verify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "v1000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-admin-verify"
    },
    {
      "parameters": {
        "jsCode": "// Valida el JWT del header Authorization: Bearer <token>.\n// Devuelve { valid: true, sub, role, exp } o { valid: false, reason }.\n//\n// Usado por:\n//   - Frontend al montar la app (refresca/revoca sesión).\n//   - Como guard interno de otros workflows admin (list-quotes, update-quote)\n//     mediante un sub-workflow o copiando este bloque.\nconst jwt = require('jsonwebtoken');\nconst src = $input.first().json;\nconst auth = (src.headers && (src.headers.authorization || src.headers.Authorization)) || '';\nconst m = /^Bearer\\s+(.+)$/i.exec(auth.trim());\nif (!m) {\n  return [{ json: { valid: false, reason: 'no_token' } }];\n}\nconst token = m[1].trim();\nconst secret = $env.JWT_SECRET;\nif (!secret) {\n  return [{ json: { valid: false, reason: 'misconfigured' } }];\n}\ntry {\n  const payload = jwt.verify(token, secret, { issuer: 'solarhub', audience: 'admin' });\n  return [{ json: { valid: true, sub: payload.sub, username: payload.username, role: payload.role, exp: payload.exp } }];\n} catch (e) {\n  return [{ json: { valid: false, reason: e?.name || 'verify_failed' } }];\n}"
      },
      "id": "v1000000-0001-4000-9000-000000000002",
      "name": "Verify JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "v1000000-0001-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Verify JWT", "type": "main", "index": 0 }]] },
    "Verify JWT": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }, { "name": "admin" }],
  "triggerCount": 0,
  "versionId": "1"
}
