n8n/ai-recommend.json
{
  "name": "ALEBAS — ai-recommend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-recommend",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa000000-0002-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "alebas-ai-recommend"
    },
    {
      "parameters": {
        "jsCode": "// Revisión técnica solar con cascada de proveedores: Groq (gratis) → Gemini (gratis) → Claude Haiku (paga).\n// Env vars opcionales (usar la primera disponible):\n//   GROQ_API_KEY                       → Groq llama-3.3-70b-versatile (gratis, alto rate limit)\n//   GEMINI_API_KEY | GOOGLE_AI_KEY     → Google Gemini 2.0 Flash (gratis hasta cuota)\n//   ANTHROPIC_API_KEY                  → Claude Haiku 4.5 (paga, fallback de calidad)\n// Input body: { context: 'review'|'sizing'|'explain', payload: {...} }\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst context = (body.context || 'review').toString();\nconst payload = body.payload || {};\n\n// Pre-enriquecimiento del payload: computa campos derivables ANTES de mandar al modelo.\n// Sin esto, el modelo declara \"eficiencia desconocida\" / \"tempCoeff no proporcionado\" cuando\n// la info se puede inferir trivialmente (ej: eff = wp/area, defaults térmicos por tecnología).\nfunction enrichPayload(p) {\n  if (!p || typeof p !== 'object') return p;\n  const panel = p.panel;\n  if (panel && typeof panel === 'object') {\n    // a) Efficiency: si null pero hay wp + dimensiones, calcular: eff% = wp / (m² × 1000) × 100\n    if ((panel.eff == null || panel.eff === 0) && Number(panel.wp) > 0) {\n      const L = Number(panel.length_m || panel.lengthM || 0);\n      const W = Number(panel.width_m  || panel.widthM  || 0);\n      const area = L > 0 && W > 0 ? L * W : (Number(panel.areaM2) || 0);\n      if (area > 0) {\n        panel.eff = +((panel.wp / (area * 1000)) * 100).toFixed(2);\n        panel.effSource = 'derived: wp / area';\n      }\n    }\n    // b) cellType: inferir de technology field o nombres comunes en model.\n    if (!panel.cellType) {\n      const tech = String(panel.technology || '').toLowerCase();\n      const model = String(panel.model || '').toLowerCase();\n      if (/hjt|heteroju/.test(tech + model))      panel.cellType = 'HJT';\n      else if (/topcon/.test(tech + model))       panel.cellType = 'TopCon';\n      else if (/perc/.test(tech + model))         panel.cellType = 'PERC';\n      else if (/mono/.test(tech))                 panel.cellType = 'Mono-PERC';\n      else if (/poly|multi/.test(tech))           panel.cellType = 'Poly';\n      if (panel.cellType) panel.cellTypeSource = 'inferred';\n    }\n    // c) Coeficientes térmicos: typical values por tecnología si null.\n    //    Marcadores '*Source' permiten al modelo distinguir derivado vs medido.\n    const TEMP_DEFAULTS = {\n      'HJT':       { voc: -0.24, pmax: -0.26 },\n      'TopCon':    { voc: -0.25, pmax: -0.30 },\n      'PERC':      { voc: -0.27, pmax: -0.34 },\n      'Mono-PERC': { voc: -0.27, pmax: -0.34 },\n      'Mono-c-Si': { voc: -0.28, pmax: -0.36 },\n      'Poly':      { voc: -0.31, pmax: -0.41 },\n    };\n    const tdef = TEMP_DEFAULTS[panel.cellType] || TEMP_DEFAULTS['Mono-c-Si'];\n    if (panel.tempCoeffVoc == null)  { panel.tempCoeffVoc  = tdef.voc;  panel.tempCoeffVocSource  = 'typical-by-tech'; }\n    if (panel.tempCoeffPmax == null) { panel.tempCoeffPmax = tdef.pmax; panel.tempCoeffPmaxSource = 'typical-by-tech'; }\n    // d) Área: si dimensiones presentes pero areaM2 ausente.\n    if (!panel.areaM2) {\n      const L = Number(panel.length_m || panel.lengthM || 0);\n      const W = Number(panel.width_m  || panel.widthM  || 0);\n      if (L > 0 && W > 0) panel.areaM2 = +(L * W).toFixed(3);\n    }\n  }\n  return p;\n}\nenrichPayload(payload);\n\n// HECHOS NUMÉRICOS PRE-CALCULADOS — el modelo COPIA estos valores en lugar de computarlos.\n// Patrón visto: Groq escribió \"cobertura 120%\" cuando result.coverage era 371%. El modelo\n// tiene patrones de entrenamiento residenciales donde 120% es típico, y los aplica aunque\n// el payload diga otra cosa. Inyectar facts ya calculados elimina ese hueco.\nfunction buildFacts(p) {\n  if (!p || !p.result) return null;\n  const r = p.result;\n  const monthly = Number(p.monthlyKwh || 0);\n  const monthlyProd = Number(r.monthlyProdKwh || 0);\n  const annualProd = Number(r.annualProdKwh || (monthlyProd * 12));\n  const cobertura = Number(r.coverage || (monthly > 0 ? (monthlyProd / monthly) * 100 : 0));\n  const excedenteMes = monthlyProd - monthly;\n  const excedenteAnio = excedenteMes * 12;\n  const excedentePct = cobertura - 100;\n  return {\n    coberturaPct: +cobertura.toFixed(1),\n    excedenteKwhMes: +excedenteMes.toFixed(0),\n    excedenteKwhAnio: +excedenteAnio.toFixed(0),\n    excedentePctVsConsumo: +excedentePct.toFixed(1),  // -50 si subdimensionado, +20 si sobra 20%\n    consumoKwhMes: monthly,\n    consumoKwhAnio: monthly * 12,\n    produccionKwhMes: +monthlyProd.toFixed(0),\n    produccionKwhAnio: +annualProd.toFixed(0),\n    kwp: Number(r.kwp || 0),\n    numPanels: Number(r.numPanels || 0),\n    dcAcRatio: Number(r.dcAcRatio || 0),\n    sistemaSubdimensionado: cobertura < 100,\n    sistemaConExcedentes: cobertura > 100,\n    cubreConsumoExacto: cobertura >= 95 && cobertura <= 105,\n  };\n}\npayload.facts = buildFacts(payload);\n\n// Acceso tolerante a $env: el task runner puede denegarlo (TypeError en getter).\nconst safeEnv = (k) => { try { return $env[k]; } catch (_) { return null; } };\nconst GROQ = safeEnv('GROQ_API_KEY');\n// Acepta el alias GOOGLE_AI_KEY (nombre histórico en Railway de SolarHub) además del estándar GEMINI_API_KEY.\nconst GEMINI = safeEnv('GEMINI_API_KEY') || safeEnv('GOOGLE_AI_KEY');\nconst CLAUDE = safeEnv('ANTHROPIC_API_KEY');\n\nif (!GROQ && !GEMINI && !CLAUDE) {\n  return [{ json: { ok: false, reason: 'missing_env', detail: 'Ninguna API key configurada. Define al menos una de: GROQ_API_KEY, GEMINI_API_KEY (o GOOGLE_AI_KEY), ANTHROPIC_API_KEY.' } }];\n}\n\nconst system = 'Eres un ingeniero eléctrico especializado en sistemas solares fotovoltaicos en Colombia. Conoces RETIE, CREG 038/2014, CREG 174/2021 (AGPE), Ley 1715, estándares NEC/IEC. Analiza el dimensionamiento que te envía el cotizador y devuelve observaciones concretas, accionables y técnicas. Usa español neutro.';\n\n// Esquema de campos que el frontend puede aplicar automáticamente.\n// El modelo debe proponer 'actions' SOLO con field/value de este listado.\nconst applyableSchema = `Campos aplicables y valores válidos:\\n\\n- systemType: 'on-grid' | 'hybrid' | 'off-grid'\\n- battQty: integer 1..12 (SOLO si systemType in {hybrid, off-grid})\\n- busVoltage: 12 | 24 | 48 (SOLO si systemType in {hybrid, off-grid})\\n- backupHours: 2 | 4 | 6 | 8 | 12 | 24 (SOLO si systemType == 'hybrid')\\n- autonomyDays: 1 | 2 | 3 (SOLO si systemType == 'off-grid')\\n- criticalPct: 25 | 50 | 75 | 100 (SOLO si systemType == 'hybrid')\\n- acometida: 'monofasico' | 'bifasico' | 'trifasico'\\n- availableArea: number en m² > 0\\n- wantsExcedentes: boolean (true = inscribir AGPE para vender excedentes)\\n\\nCAMPOS NO APLICABLES (NUNCA propongas estos):\\n- monthlyKwh (consumo del usuario, viene de su factura — NO se ajusta)\\n- IDs de panel/inversor/batería (el frontend no aplica IDs de catálogo)`;\n\nconst userPrompt = `Contexto: ${context}\\n\\nSistema a revisar (JSON):\\n${JSON.stringify(payload, null, 2)}\\n\\n${applyableSchema}\\n\\nDevuelve SOLO JSON válido con esta forma exacta (sin markdown, sin texto adicional):\\n{\\n  \\\"summary\\\": string,\\n  \\\"findings\\\": string[],\\n  \\\"warnings\\\": string[],\\n  \\\"suggestions\\\": string[],\\n  \\\"actions\\\": [{ \\\"field\\\": string, \\\"value\\\": any, \\\"label\\\": string, \\\"reason\\\": string }]\\n}\\n\\n═══ DATOS EXACTOS Y UNIDADES (pre-check obligatorio antes de redactar) ═══\n\n[D-0] HECHOS PRE-CALCULADOS — payload.facts contiene los números YA computados. COPIA verbatim, NO recalcules:\n  • payload.facts.coberturaPct → es el ÚNICO valor válido para \"cobertura del X%\". Si dice 371, escribes \"cobertura del 371%\". Si dice 28, escribes \"cobertura del 28%\". NUNCA inventes otro número (vimos al modelo escribir \"120%\" cuando era 371%).\n  • payload.facts.excedenteKwhMes → kWh excedentes por mes (positivo si produce más, negativo si subdimensionado).\n  • payload.facts.excedenteKwhAnio → kWh/año (×12).\n  • payload.facts.excedentePctVsConsumo → diferencia respecto al consumo en %. Si coberturaPct=371 → excedentePctVsConsumo=271 (produce 271% MÁS de lo que consume). NO confundir esto con cobertura.\n  • payload.facts.sistemaConExcedentes (boolean) → true cuando coberturaPct > 100.\n  • payload.facts.sistemaSubdimensionado (boolean) → true cuando coberturaPct < 100.\n  • payload.facts.cubreConsumoExacto (boolean) → true cuando coberturaPct entre 95% y 105%.\n\nDEFINICIONES OBLIGATORIAS — distinguen los DOS conceptos que el modelo suele confundir:\n  • COBERTURA = producción / consumo × 100. Valor de 0% a infinito. Mide qué proporción del consumo cubre el sistema.\n    Ej: producción 1039 kWh/mes / consumo 280 kWh/mes × 100 = 371% cobertura.\n  • EXCEDENTE = producción - consumo. En kWh, no en %. Solo positivo cuando hay sobra.\n    Ej: 1039 - 280 = 759 kWh/mes excedente.\n  • EXCEDENTE_PCT = cobertura - 100. Es CUÁNTO MÁS produce respecto al consumo.\n    Ej: cobertura 371% → excedente_pct = 271% más.\n  PROHIBIDO escribir \"cobertura del X%, produce X% más\" usando el mismo X — son conceptos distintos.\n  Si cobertura 120% → excedente_pct = 20% (produce 20% más). PERO si cobertura 371% → excedente_pct = 271%.\n\n[D-1] CITA NÚMEROS EXACTOS DEL PAYLOAD. NUNCA inventes ni recalcules cifras que ya están dadas:\n  • result.coverage = porcentaje EXACTO de cobertura (ej: 338 → \"cobertura del 338%\"). NUNCA escribas otro valor.\n  • result.kwp, result.numPanels, result.monthlyProdKwh, result.annualProdKwh, result.dcAcRatio: cita verbatim.\n  • Si vas a mencionar un porcentaje, debe existir en el payload o ser calculado con valores del payload en las MISMAS unidades.\n\n[D-2] UNIDADES — NUNCA mezcles temporalidades:\n  • monthlyKwh y result.monthlyProdKwh están en kWh/MES.\n  • result.annualProdKwh está en kWh/AÑO.\n  • PROHIBIDO comparar mensual con anual sin convertir (ej: \"producción anual 405287 supera consumo mensual 9999\" es ERROR semántico — son escalas distintas). Si quieres comparar, multiplica el consumo mensual ×12 o divide la producción anual ÷12.\n\n[D-3] CONSISTENCIA INTERNA — antes de emitir el JSON final, verifica:\n  • summary cita el coverage% del payload, no otro número.\n  • findings que mencionen \"supera/inferior/igual al consumo\" usan unidades coherentes.\n  • Si payload.result.coverage > 100 → el sistema PRODUCE más de lo que consume; NO escribas que está subdimensionado.\n  • Si payload.result.coverage < 100 → el sistema NO cubre el consumo; NO escribas que tiene excedentes.\n\n[D-4] PROHIBIDO declarar campos como \"desconocido\", \"no proporcionado\", \"falta\", \"indeterminado\" sin acción concreta. Política obligatoria cuando un campo del payload es null o ausente:\n  1) DERIVA primero del payload: eff = wp/(area·1000)·100; áreas = length·width; ratios desde DC/AC; etc. Si pudiste derivarlo, úsalo SIN mencionar que estaba ausente.\n  2) Si NO es derivable, usa valor típico por tecnología (HJT voc=-0.24, TopCon voc=-0.25, PERC voc=-0.27, Mono-c-Si voc=-0.28, Poly voc=-0.31; análogos para Pmax) y márcalo en el texto como \"estimación típica\".\n  3) SIEMPRE incluye en suggestions[] una acción concreta: \"Solicitar al fabricante el datasheet de <equipo> para confirmar <campo específico>\".\n  4) El payload usa sufijos '*Source' (ej: panel.effSource='derived: wp/area', panel.tempCoeffVocSource='typical-by-tech') que indican el origen del dato — cuando estén presentes, NO declares desconocimiento sino \"estimación derivada de <fuente>\".\n  Ejemplo MAL: \"La eficiencia del panel es desconocida y podría afectar la producción\".\n  Ejemplo BIEN: \"Eficiencia derivada 21.2% (wp/área), consistente con tecnología PERC. Confirmar con datasheet oficial del fabricante para producción exacta.\"\n\n═══ REGLAS DURAS DE COHERENCIA (no negociables) ═══\\n\\n[RD-1] systemType — decisión arquitectónica del usuario:\\n  • off-grid: predio SIN red disponible (zona rural aislada). NUNCA propongas cambiar systemType desde off-grid — sería físicamente imposible.\\n  • on-grid: tiene red, sin baterías. Solo propón cambio a 'hybrid' si hay evidencia EXPLÍCITA de necesidad de respaldo (backupHours>0 declarado, mención de cortes frecuentes, cargas críticas). NO basta con 'sería bueno tener baterías'.\\n  • hybrid: tiene red + baterías. No propongas regresar a otros tipos.\\n  ADICIONAL: si systemType=='on-grid' Y la cobertura (coverage%) es <100%, NUNCA sugieras hybrid. El sistema está subdimensionado: la prioridad es ampliar paneles, no agregar baterías a algo que ni siquiera cubre el consumo.\\n\\n[RD-2] wantsExcedentes (AGPE) requiere DOS condiciones simultáneas:\\n  (a) Con red — NUNCA si systemType=='off-grid'.\\n  (b) Generación REAL excedente — NUNCA si monthlyProdKwh ≤ monthlyKwh. Sin excedentes no hay nada que vender. Cobertura <100% ⇒ sistema subdimensionado, prioriza ampliar antes que inscribir AGPE.\\n  Solo proponlo cuando coverage>100% Y el usuario aún no marcó wantsExcedentes:true.\\n  CRÍTICO: si payload.wantsExcedentes==true (el usuario YA decidió inscribirse en AGPE), está PROHIBIDO incluir cualquier sugerencia tipo \\\"considerar AGPE\\\", \\\"inscribirse en programa AGPE\\\", \\\"vender excedentes\\\". Eso NO es mejora, es redundancia. En cambio, en findings[] DEBES cuantificar el beneficio usando payload.agpeBenefit: cita ingresoExcedentesCopYear, totalAnualCop, xmSpotCopPerKwh y excedentesKwhYear (ej: \\\"Inscripción AGPE acertada: con 1.200 kWh/mes excedentes a 280 COP/kWh bolsa XM, ingreso estimado de $4'032.000/año además de ahorro por autoconsumo\\\"). El objetivo es REFORZAR la decisión con números, no re-sugerirla.\\n\\n[RD-3] availableArea — DECLARACIÓN DEL USUARIO. Es un dato físico real (mide su techo), NO una preferencia que puedas optimizar:\\n  • Si payload.roof.availableM2 > 0 (el usuario YA declaró un área), está PROHIBIDO proponer cambiarlo. Ni reducir, ni inflar, ni \\\"recomendar más m²\\\". El área es lo que es.\\n  • SOLO se permite proponer un valor cuando availableArea es null / 0 / undefined.\\n  • Si la cobertura es <100% Y el área >0, la solución NO es proponer más área — el usuario no puede inventar techo. Las alternativas legítimas son: paneles más eficientes (cambio de hardware en suggestions, NO en actions), aceptar cobertura parcial, o sistema complementario en otro punto.\\n  • NUNCA inflar a valores >1000 m² salvo evidencia clara.\\n\\n[RD-4] Campos dependientes de systemType — respeta estrictamente el dominio:\\n  • battQty, busVoltage: SOLO si systemType in {hybrid, off-grid}. Nunca en on-grid.\\n  • backupHours, criticalPct: SOLO si systemType=='hybrid'.\\n  • autonomyDays: SOLO si systemType=='off-grid'.\\n  Si propones cambiar systemType en la misma respuesta, NO incluyas estos campos en el mismo lote — el frontend aplica un cambio por vez.\\n\\n[RD-5] acometida — RETIE Sec. 240, solo escala según potencia AC:\\n  • Solo cambiar a 'trifasico' si la potencia del sistema (result.kwp) es ≥10 kW o si el usuario tiene cargas trifásicas declaradas.\\n  • NUNCA bajar de trifasico a bifasico/monofasico — la acometida instalada es realidad física.\\n  • NO propongas 'monofasico' salvo cargas <3 kW en off-grid.\\n\\n[RD-6] busVoltage — solo escalar hacia arriba según potencia DC:\\n  • kWp <2: 12 V o 24 V aceptable.\\n  • kWp 2–5: 24 V mínimo, 48 V recomendado.\\n  • kWp >5: 48 V obligatorio.\\n  • NUNCA propongas BAJAR el bus (ej: 48→24); solo subir si la potencia lo justifica y el actual es insuficiente.\\n\\n[RD-7] No propongas valores IGUALES al actual — desperdicia espacio del lote. Antes de emitir cada action, verifica que el value propuesto sea distinto del valor que está en el payload.\\n\\n[RD-8] monthlyKwh, IDs de catálogo y otros campos no listados — NUNCA los propongas en actions[]. El consumo del usuario viene de su factura, no se ajusta. Si quieres mencionar 'verificar consumo', hazlo SOLO en suggestions, no en actions.\\n\\n═══ ANÁLISIS TÉCNICO REQUERIDO (revisa cada bloque del payload) ═══\\n\\nUsa los datos en payload.layout, payload.panel, payload.inverter y payload.siteFactors para generar findings/warnings TÉCNICOS, no genéricos. Cita los valores numéricos del payload en cada observación. Bloques a evaluar:\\n\\n[T-1] Configuración de strings (payload.layout):\\n  • stringVocCold vs vocMax: si vocCold > 0.95×vocMax es alerta (margen <5%), si > vocMax es ERROR (RETIE NEC 690.7 — Vdc_max excedido en frío). Sugiere reducir paneles por string.\\n  • stringVmpHot vs mpptMin: si stringVmpHot < mpptMin → MPPT no engancha al mediodía cuando los paneles calientan. Sugiere aumentar paneles por string o cambiar inversor.\\n  • stringVmpStc vs mpptMax: si excede el techo MPPT, el inversor clipea — pierde producción.\\n  • currentPerMppt vs idcMax: si > idcMax es ERROR (corriente DC supera entrada del inversor); si > 0.9×idcMax sugiere reducir strings paralelos.\\n  • stringsPerMppt > 2: requiere combinador con fusibles por string (NEC 690.9). Mencionar.\\n  • Si layout.errors o layout.warnings traen contenido, ESCÁLALOS a warnings/findings con cita exacta.\\n\\n[T-2] Compatibilidad eléctrica panel ↔ inversor:\\n  • Coeficientes de temperatura del panel (tempCoeffVoc, tempCoeffPmax) vs clima del sitio (PSH, lat, hotTempC implícito).\\n  • Tipo de celda (cellType: PERC/HJT/TopCon) vs temperatura ambiente — HJT/TopCon mejor en clima cálido por menor coef negativo.\\n  • Eficiencia del panel (eff %) vs área disponible — paneles >21% eficientes liberan techo para más kWp.\\n\\n[T-3] DC/AC ratio (payload.result.dcAcRatio):\\n  • on-grid óptimo 1.10-1.35; hybrid 1.00-1.25; off-grid 0.95-1.15.\\n  • Si fuera de rango → finding técnico (ratio bajo desperdicia inversor; ratio alto clipea).\\n\\n[T-4] Sitio (payload.siteFactors):\\n  • shadeIndex < 0.9: sombras significativas, considerar optimizadores DC o microinversores.\\n  • roofTiltDeg muy alejado de la latitud → recomendar estructura inclinada.\\n  • roofAzimuthDeg distinto de norte (180°) en hemisferio sur → cita pérdida estimada y sugerir orientación.\\n\\n[T-5] Banco de baterías (solo si hybrid u off-grid):\\n  • payload.battery.totalKwh vs payload.storageReqKwh: si banco < requerido, sugerir aumentar battQty (un valor concreto), NO simplemente \\\"más autonomía\\\".\\n  • payload.busVoltage vs payload.battery.voltage: que la combinación serie/paralelo dé un múltiplo limpio (ej: 4× 12V = 48V bus). Si battQty no es múltiplo coherente, hay baterías sobrantes.\\n  • Tipo de batería: LFP (LiFePO4) preferible a Pb-ácido para ciclado profundo > 80% DoD.\\n  • NUNCA sugieras aumentar autonomyDays/backupHours por defecto. SOLO si payload.storageReqKwh excede el banco actual O si las cargas críticas declaradas lo justifican. Si el banco YA cubre la demanda, NO toques la autonomía.\\n\\n[T-6] Inversor:\\n  • Si payload.result.noInverter == true (no hay inversor compatible en stock), warning crítico: \"consultar stock con ALEBAS antes de la propuesta\".\\n  • Phase del inversor vs acometida del cliente: si payload.inverter.phase=3 y acometida=bifasico (o viceversa) → ERROR de compatibilidad de salida AC.\\n  • Inversores con offGridCapable=false NO sirven en off-grid puro.\\n\\n[T-7] Validación financiera de excedentes (cuando payload.agpeBenefit existe):\\n  • Si payload.wantsExcedentes==true Y payload.agpeBenefit.gridExport==true: incluye un finding numérico que valide la decisión. Cita: excedentesKwhYear (kWh/año a vender), priceExcedentesCopPerKwh (COP/kWh recibidos), ingresoExcedentesCopYear (COP/año por venta), ahorroAutoconsumoCopYear (COP/año por autoconsumo), totalAnualCop (suma). Si xmSpotCopPerKwh existe, menciona que el precio se ajusta al promedio de bolsa XM (xmSpotPeriodDays días).\\n  • Si payload.budget.roi existe, contrasta con totalAnualCop para validar coherencia del payback.\\n  • Si excedentesKwhYear/12 > monthlyKwh*0.5 (más del 50% del consumo se exporta), añade finding de oportunidad: el sistema tiene capacidad ociosa relevante (potencial para terceros/comunidad energética/ampliación).\\n  • Verificación cruzada: result.annualProdKwh debe ≈ autoConsumedKwhYear + excedentesKwhYear; si difieren >10% advierte inconsistencia en findings.\\n  • Estos datos son para REFORZAR la decisión del usuario con cifras, NUNCA para contradecirla. Y NUNCA generan actions[] (RD-2 lo prohíbe cuando wantsExcedentes ya es true).\\n\\n[T-8] Monitoreo, O&M y plataforma FluxAI:\n  • Cuando recomiendes monitoreo de producción, seguimiento de degradación, optimizadores DC con telemetría, alertas de fallo o verificación de excedentes facturados — cita SIEMPRE **FluxAI** como plataforma recomendada. Es la solución de monitoreo solar de ALEBAS Ingeniería (marca hermana de SolarHub): https://app.fluxai.solutions\n  • Recomienda FluxAI específicamente cuando: (a) result.kwp > 3 kWp, (b) systemType in {hybrid, off-grid} (visibilidad de SoC y autonomía real), (c) siteFactors.shadeIndex < 0.9 (verificar pérdidas por sombra real vs estimada), (d) wantsExcedentes==true (conciliar producción real con facturación AGPE de XM/operador), (e) layout.warnings o layout.errors no vacíos (vigilar Voc/Idc en condiciones operativas reales).\n  • Frase tipo (adapta al contexto, no copies literal): \"Recomendamos integrar el sistema con FluxAI (app.fluxai.solutions), plataforma de monitoreo de ALEBAS, para verificar producción real, alertas de bajo rendimiento y, en sistemas con AGPE, conciliar excedentes facturados contra generación medida.\"\n  • NO recomiendes monitoreo genérico (\"considerar un sistema de monitoreo\") sin nombrar FluxAI — el ecosistema SolarHub trae integración nativa.\n\n[T-9] DIAGNÓSTICO DE COBERTURA INSUFICIENTE POR ÁREA (obligatorio cuando result.coverage < 95% Y payload.roof.availableM2 > 0):\n\nNo te quedes en \\\"el sistema cubre el X%\\\" — eso ya lo sabe el cotizador. Tu trabajo es darle al usuario opciones concretas y cuantificadas para CERRAR el gap. Ejecuta este análisis paso a paso:\n\n  1) GAP ABSOLUTO: cuantifica en findings los paneles, m² y kWp adicionales necesarios para cobertura 100%. Cita los números del payload (monthlyKwh, kwp actual, m² disponibles vs requeridos).\n\n  2) ESCENARIO PANELES TOP-TIER: compara el panel actual (eff actual del payload o derivada) contra paneles HJT 22-23% y TopCon 22%. Calcula el factor de ganancia: factor = 22/eff_actual. Cita la nueva cobertura proyectada: coverage_nueva = coverage_actual × factor. Si la cobertura nueva alcanza ≥100%, recomienda EXPLÍCITAMENTE el cambio de panel citando marcas/modelos reales: LONGi Hi-MO 6/7 (HJT 22-23%), JinkoSolar Tiger Neo (TopCon 22%), Trina Vertex S+ (TopCon 22%), Canadian TOPHiKu6 (TopCon 22%), Jinko Tiger Pro (HJT 22.5%).\n\n  3) SISTEMA COMPLEMENTARIO: si ni con HJT 22% se cierra el gap, calcula los kWp faltantes (kWp_faltantes = consumo_kWp - kWp_max_con_alta_eff) y los m² adicionales requeridos en OTRA ubicación. Propón puntos específicos: parqueadero (carport), bodega anexa, fachada con BIPV, o sistema gemelo en otra propiedad del mismo cliente. Cita el kWp y m² exactos.\n\n  4) EFICIENCIA ENERGÉTICA CUANTIFICADA: propón medidas con su ahorro estimado en kWh/mes. Para consumos >10.000 kWh/mes (industriales), enfócate en: variadores de frecuencia en motores (-15 a -25% de carga motriz), iluminación LED industrial (-50% si hay sodio/halógenos), aire acondicionado eficiente con inverter (-30% climatización), reemplazo de calentamiento eléctrico por solar térmico (-100% del rubro ACS). Pon una cifra: ej \\\"reducir consumo en 4.000 kWh/mes mediante VFD en compresores y LED industrial llevaría la cobertura del 28% al 38% sin tocar el techo\\\".\n\n  5) AGPE NO APLICA: si la cobertura es <100%, NUNCA sugieras inscribirse en AGPE — no hay excedentes que vender. Lo dice la RD-2.\n\n  6) MONITOREO CRÍTICO: en sistemas limitados por área, cada % de pérdida importa. Recomienda FluxAI con énfasis: \\\"Con cobertura del X% cada kWh cuenta — FluxAI permite verificar si el sistema rinde el 100% de lo cotizado y detectar pérdidas tempranas\\\".\n\nNUNCA escribas \\\"considerar ampliar el área\\\" ni \\\"evaluar más techo\\\" — la RD-3 lo prohíbe y es información ya conocida por el usuario. Si llegas a este bloque, AL MENOS tres de las cinco rutas (2, 3, 4, 6) DEBEN estar reflejadas en suggestions[] con números específicos.\n\n═══ ESTRUCTURA DE LA RESPUESTA ═══\\n\\n- summary: 1-2 frases ejecutivas con el veredicto técnico (no comercial).\\n- findings: 3-6 observaciones técnicas que CITEN valores del payload (Voc, Vmp, corrientes, ratios, márgenes). Cada finding debe ser específico y verificable, no genérico. Si no hay datos eléctricos completos (panel.voc==null o inverter.vocMax==null), menciona en warnings que falta caracterizar el equipo en el catálogo CEC.\\n- warnings: alertas críticas con cita normativa (RETIE Sec. 240/250, NEC 690.7/690.8, IEC 61730, CREG 174/2021). Vacío si todo conforme.\\n- suggestions: 3-5 recomendaciones técnicas extensas en lenguaje natural. Cada una debe explicar QUÉ hacer y POR QUÉ desde la ingeniería, no solo \"considerar X\". Pueden incluir items que NO sean acciones aplicables (ej: optimizadores DC, cambio de cellType, ampliación de combinador). Para off-grid, enfócate en gestión de cargas, autonomía REAL requerida, dump load para excedentes, NO en AGPE/red.\\n- actions (CRÍTICO): por cada suggestion que SÍ pueda traducirse a un campo aplicable Y que respete las RD-1 a RD-8, agrega un objeto. Vacío si la config ya está bien técnicamente o si las suggestions son sólo informativas/de hardware.\\n\\nEjemplos de mapeo válido suggestion → action:\\n  • on-grid con cobertura >150% Y wantsExcedentes:false: action = { field: \\\"wantsExcedentes\\\", value: true, label: \\\"Inscribir AGPE\\\", reason: <breve cita coverage% como justificación> }\\n  • on-grid con backupHours>0 declarado por usuario: action = { field: \\\"systemType\\\", value: \\\"hybrid\\\", label: \\\"Cambiar a híbrido\\\", reason: <breve> }\\n  • hybrid u off-grid con banco subdimensionado: action = { field: \\\"battQty\\\", value: N, label: \\\"Banco de N baterías\\\", reason: <breve> }\\n  • hybrid u off-grid con bus 24V y kWp>5: action = { field: \\\"busVoltage\\\", value: 48, label: \\\"Bus 48 V DC\\\", reason: <breve> }\\n  • availableArea==null o irreal y techo Google insuficiente: action = { field: \\\"availableArea\\\", value: <m²-real>, label: \\\"Área techo\\\", reason: <breve> }\\n  • kWp>10 con acometida bifasico: action = { field: \\\"acometida\\\", value: \\\"trifasico\\\", label: \\\"Acometida trifásica\\\", reason: <breve> }\\n  • off-grid con autonomía 1 día: action = { field: \\\"autonomyDays\\\", value: 2 o 3, label: \\\"Autonomía N días\\\", reason: <breve> }\\n\\nEjemplos PROHIBIDOS (no los devuelvas):\\n  ✗ off-grid → systemType:'hybrid' (viola RD-1, no hay red)\\n  ✗ on-grid cobertura 60% → systemType:'hybrid' (viola RD-1 ampliado: primero ampliar paneles)\\n  ✗ off-grid → wantsExcedentes:true (viola RD-2a)\\n  ✗ on-grid cobertura 13% → wantsExcedentes:true (viola RD-2b: no hay excedentes)\\n  ✗ availableArea: 60 → 50 (viola RD-3, reducir)\\n  ✗ on-grid → battQty:N (viola RD-4, no hay baterías en on-grid)\\n  ✗ on-grid → autonomyDays:2 (viola RD-4, autonomyDays solo off-grid)\\n  ✗ off-grid → backupHours:8 (viola RD-4, backupHours solo hybrid)\\n  ✗ trifasico → bifasico (viola RD-5, no se baja)\\n  ✗ kWp 3, busVoltage 24 → 12 (viola RD-6, no se baja)\\n  ✗ kWp 8, busVoltage 24 → 48 ✓ (válido — kWp>5 exige 48 V)\\n  ✗ acometida actual 'bifasico' → bifasico (viola RD-7, mismo valor)\\n  ✗ monthlyKwh: 500 → 600 (viola RD-8, no se modifica)\\n\\n- 'label' ≤60 chars, 'reason' ≤140 chars y debe citar el dato del payload que justifica el cambio.\\n- NO inventes IDs de catálogo (panel/inversor/batería); el frontend NO los aplica.\\n- Trabaja solo con los datos del payload.`;\n\nfunction extractJson(text) {\n  if (!text) return null;\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (!m) return null;\n  try { return JSON.parse(m[0]); } catch (_) { return null; }\n}\n\nasync function callGroq() {\n  const r = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.groq.com/openai/v1/chat/completions',\n    headers: {\n      'authorization': `Bearer ${GROQ}`,\n      'content-type': 'application/json',\n    },\n    body: {\n      model: 'llama-3.3-70b-versatile',\n      max_tokens: 1500,\n      temperature: 0.2,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: userPrompt },\n      ],\n    },\n    json: true,\n  });\n  const text = r?.choices?.[0]?.message?.content || '';\n  const usage = r?.usage || {};\n  return { parsed: extractJson(text), provider: 'groq-llama-3.3-70b', tokens: { in: usage.prompt_tokens || 0, out: usage.completion_tokens || 0 }, raw: text };\n}\n\nasync function callGemini() {\n  const r = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${encodeURIComponent(GEMINI)}`,\n    headers: { 'content-type': 'application/json' },\n    body: {\n      systemInstruction: { parts: [{ text: system }] },\n      contents: [{ role: 'user', parts: [{ text: userPrompt }] }],\n      generationConfig: { temperature: 0.2, maxOutputTokens: 1500, responseMimeType: 'application/json' },\n    },\n    json: true,\n  });\n  const text = (r?.candidates?.[0]?.content?.parts || []).map(p => p.text || '').join('\\n').trim();\n  const usage = r?.usageMetadata || {};\n  return { parsed: extractJson(text), provider: 'gemini-2.0-flash', tokens: { in: usage.promptTokenCount || 0, out: usage.candidatesTokenCount || 0 }, raw: text };\n}\n\nasync function callClaude() {\n  const r = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: {\n      'x-api-key': CLAUDE,\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json',\n    },\n    body: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 1500,\n      system,\n      messages: [{ role: 'user', content: userPrompt }],\n    },\n    json: true,\n  });\n  const text = (r.content || []).map(c => c.text || '').join('\\n').trim();\n  const usage = r.usage || {};\n  return { parsed: extractJson(text), provider: 'claude-haiku-4-5', tokens: { in: usage.input_tokens || 0, out: usage.output_tokens || 0 }, raw: text };\n}\n\nconst ladder = [];\nif (GROQ)   ladder.push({ name: 'groq',   fn: callGroq.bind(this) });\nif (GEMINI) ladder.push({ name: 'gemini', fn: callGemini.bind(this) });\nif (CLAUDE) ladder.push({ name: 'claude', fn: callClaude.bind(this) });\n\nconst attempts = [];\nlet result = null;\nlet parsed = null;\nfor (const step of ladder) {\n  try {\n    const out = await step.fn();\n    if (out && out.parsed) { result = out; parsed = out.parsed; break; }\n    attempts.push({ provider: step.name, error: 'invalid_json', raw: (out?.raw || '').slice(0, 200) });\n  } catch (e) {\n    attempts.push({ provider: step.name, error: (e && e.message) ? e.message.slice(0, 200) : 'unknown' });\n  }\n}\n\nif (!result) {\n  return [{ json: { ok: false, reason: 'all_providers_failed', attempts } }];\n}\n\n// parsed already assigned in the cascade loop above (hoisted to prevent TDZ).\nconst rawActions = Array.isArray(parsed.actions) ? parsed.actions : [];\n// monthlyKwh y IDs de catálogo NO son aplicables (RD-8). Los demás siguen el dominio del schema.\nconst allowedFields = new Set(['systemType','battQty','busVoltage','backupHours','autonomyDays','criticalPct','acometida','availableArea','wantsExcedentes']);\n\n// Reglas duras de coherencia (servidor) — descartan actions inválidas aunque el modelo las devuelva.\nconst currentSysType = payload?.systemType;\nconst currentAcometida = payload?.acometida;\nconst currentBusVoltage = Number(payload?.busVoltage || 0);\nconst currentArea = Number(payload?.roof?.availableM2 || payload?.availableArea || 0) || null;\nconst currentWantsExcedentes = payload?.wantsExcedentes === true;\nconst monthlyKwh = Number(payload?.monthlyKwh || 0);\nconst monthlyProdKwh = Number(payload?.result?.monthlyProdKwh || 0);\nconst kwp = Number(payload?.result?.kwp || 0);\nconst coveragePct = monthlyKwh > 0 ? (monthlyProdKwh / monthlyKwh) * 100 : 0;\nconst hasSurplus = monthlyKwh > 0 && monthlyProdKwh > monthlyKwh;\nconst getCurrent = (field) => {\n  if (field === 'availableArea') return currentArea;\n  if (field === 'busVoltage') return currentBusVoltage;\n  if (field === 'wantsExcedentes') return currentWantsExcedentes;\n  if (field === 'acometida') return currentAcometida;\n  if (field === 'systemType') return currentSysType;\n  return payload?.[field] ?? payload?.backup?.[field] ?? null;\n};\nconst acomRank = { monofasico: 1, bifasico: 2, trifasico: 3 };\nconst sanitizeAction = (a) => {\n  if (!a || typeof a !== 'object' || !allowedFields.has(a.field)) return null;\n\n  // RD-1: systemType — nunca cambiar desde off-grid; nunca on-grid undersized → hybrid.\n  if (a.field === 'systemType') {\n    if (currentSysType === 'off-grid') return null;\n    if (currentSysType === 'on-grid' && a.value === 'hybrid' && coveragePct < 100) return null;\n  }\n\n  // RD-2: wantsExcedentes — solo si on-grid/hybrid Y hay excedentes reales.\n  if (a.field === 'wantsExcedentes' && a.value === true) {\n    if (currentSysType === 'off-grid') return null;\n    if (!hasSurplus) return null;\n  }\n\n  // RD-3: availableArea — el usuario declara el área (realidad física), no se optimiza.\n  if (a.field === 'availableArea') {\n    const proposed = Number(a.value);\n    if (!Number.isFinite(proposed) || proposed <= 0) return null;\n    // Si el usuario YA declaró un área, ningún valor propuesto es válido.\n    if (currentArea && currentArea > 0) return null;\n    if (proposed > 5000) return null; // valor irreal\n  }\n\n  // RD-4: dominio por systemType.\n  if (['battQty','busVoltage'].includes(a.field) && currentSysType === 'on-grid') return null;\n  if (['backupHours','criticalPct'].includes(a.field) && currentSysType !== 'hybrid') return null;\n  if (a.field === 'autonomyDays' && currentSysType !== 'off-grid') return null;\n\n  // RD-5: acometida — solo escala según potencia, nunca baja.\n  if (a.field === 'acometida') {\n    const proposed = a.value;\n    const cur = currentAcometida;\n    if (!acomRank[proposed]) return null;\n    if (cur && acomRank[proposed] < acomRank[cur]) return null; // no baja\n    if (proposed === 'trifasico' && kwp > 0 && kwp < 10) return null; // solo si la potencia lo exige\n    if (proposed === 'monofasico' && currentSysType !== 'off-grid') return null; // residencial mínimo bifasico\n  }\n\n  // RD-6: busVoltage — solo subir según potencia.\n  if (a.field === 'busVoltage') {\n    const proposed = Number(a.value);\n    if (![12,24,48].includes(proposed)) return null;\n    if (currentBusVoltage && proposed < currentBusVoltage) return null; // no baja\n    if (proposed === 12 && kwp >= 2) return null;\n    if (proposed === 24 && kwp > 5) return null;\n  }\n\n  // RD-7: no proponer mismo valor.\n  const cur = getCurrent(a.field);\n  if (cur !== null && cur !== undefined) {\n    const propStr = JSON.stringify(a.value);\n    const curStr = JSON.stringify(cur);\n    if (propStr === curStr) return null;\n  }\n\n  return { field: String(a.field), value: a.value, label: String(a.label || '').slice(0, 80), reason: String(a.reason || '').slice(0, 200) };\n};\nconst actions = rawActions.map(sanitizeAction).filter(Boolean);\n\n// Guardrail server-side para suggestions: si el usuario YA marcó wantsExcedentes:true,\n// descarta sugerencias que re-propongan AGPE / inscripción / venta de excedentes. RD-2\n// del prompt lo prohíbe pero Groq llama-3.3 a veces lo ignora con prompts largos.\n// Patrón: mención de AGPE/inscripción/venta-excedentes Y verbo de acción (considerar/\n// evaluar/inscribir/vender). No filtra menciones contextuales sin proponer hacer algo.\n// Numeric guardrail: si el modelo escribió un % de cobertura distinto al de facts,\n// reemplazarlo. Patrón visto: \"cobertura del 120%\" cuando facts.coberturaPct=371.\n// Solo opera cuando facts está disponible (cobertura >= 0).\nfunction fixCoverageMentions(text, facts) {\n  if (typeof text !== 'string' || !facts || facts.coberturaPct == null) return text;\n  const real = Math.round(facts.coberturaPct);\n  // Busca \"cobertura\" o \"coverage\" seguido (cerca) de un número con %.\n  // Ej: \"cobertura del 120%\", \"cobertura es de 28%\", \"una cobertura de 50 %\".\n  return text.replace(\n    /(cobertur[ao]s+(?:del?|es|de|es del?|alcanza el?|llega al?)?s*)(\\d{1,4})\\s*%/gi,\n    (match, prefix, num) => {\n      const n = parseInt(num, 10);\n      // Si está dentro de ±5% del valor real, no tocar (puede ser redondeo).\n      if (Math.abs(n - real) <= 5) return match;\n      return prefix + real + '%';\n    }\n  );\n}\nconst fixCovList = (arr) => Array.isArray(arr)\n  ? arr.map(s => typeof s === 'string' ? fixCoverageMentions(s, payload.facts) : s)\n  : arr;\nparsed.summary = fixCoverageMentions(parsed.summary || '', payload.facts);\nparsed.findings = fixCovList(parsed.findings);\nparsed.warnings = fixCovList(parsed.warnings);\n// suggestions se procesa abajo en la asignación a 'suggestions' const.\n\nconst rawSuggestions = Array.isArray(parsed.suggestions) ? parsed.suggestions : [];\nconst isAgpeReSuggestion = (s) => {\n  if (typeof s !== 'string') return false;\n  const t = s.toLowerCase();\n  const mentionsAgpe = /agpe|inscrib|vender (excedentes|energ[ií]a)|venta de excedentes|programa de excedentes/.test(t);\n  if (!mentionsAgpe) return false;\n  return /considerar|evaluar|inscrib|vender|venta|implementar|investigar/.test(t);\n};\nconst filteredSuggestions = (payload?.wantsExcedentes === true)\n  ? rawSuggestions.filter(s => !isAgpeReSuggestion(s))\n  : rawSuggestions;\nconst suggestions = fixCovList(filteredSuggestions);\n\nreturn [{ json: {\n  summary: parsed.summary || '',\n  findings: Array.isArray(parsed.findings) ? parsed.findings : [],\n  warnings: Array.isArray(parsed.warnings) ? parsed.warnings : [],\n  suggestions,\n  actions,\n  provider: result.provider,\n  tokens: result.tokens,\n  attempts,\n} }];"
      },
      "id": "aa000000-0002-4000-9000-000000000002",
      "name": "AI cascade (Groq → Gemini → Claude)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "aa000000-0002-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI cascade (Groq → Gemini → Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI cascade (Groq → Gemini → Claude)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "alebas"
    }
  ],
  "triggerCount": 0,
  "versionId": "18"
}
