n8n/ai-recommend.json
{
  "name": "ALEBAS — ai-recommend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-recommend",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa000000-0002-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-ai-recommend"
    },
    {
      "parameters": {
        "jsCode": "// AI Cascade: Groq → Gemini → Mistral → Claude Haiku\n// Configurar en Railway (servicio n8n) → Variables:\n//   GROQ_API_KEY       console.groq.com    (gratis, 14 400 req/día)\n//   GOOGLE_AI_KEY      aistudio.google.com (gratis, 1 500 req/día)\n//   MISTRAL_API_KEY    console.mistral.ai  (free tier)\n//   ANTHROPIC_API_KEY  console.anthropic.com (Claude Haiku — respaldo final)\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst context = (body.context || 'review').toString();\nconst payload = body.payload || {};\n\nconst GROQ_KEY      = $env.GROQ_API_KEY      || '';\nconst GEMINI_KEY    = $env.GOOGLE_AI_KEY     || '';\nconst MISTRAL_KEY   = $env.MISTRAL_API_KEY   || '';\nconst ANTHROPIC_KEY = $env.ANTHROPIC_API_KEY || '';\n\nconst SYSTEM = 'Eres un ingeniero eléctrico especializado en sistemas solares fotovoltaicos en Colombia. Conoces RETIE, CREG 038/2014, CREG 174/2021 (AGPE), Ley 1715, estándares NEC/IEC. Analiza el dimensionamiento que te envía el cotizador y devuelve observaciones concretas, accionables y técnicas. Usa español neutro.';\n\nconst USER_PROMPT = `Contexto: ${context}\\n\\nSistema a revisar (JSON):\\n${JSON.stringify(payload, null, 2)}\\n\\nDevuelve SOLO JSON válido con esta forma exacta (sin markdown):\\n{\\n  \\\"summary\\\": string,\\n  \\\"findings\\\": string[],\\n  \\\"warnings\\\": string[],\\n  \\\"suggestions\\\": string[]\\n}\\n\\nReglas:\\n- summary: 1-2 frases, lenguaje ejecutivo.\\n- findings: 2-5 observaciones técnicas clave (dimensionamiento, cobertura, compatibilidad eléctrica, normativa).\\n- warnings: alertas críticas (voc fuera de rango, banco subdimensionado, incompatibilidad de voltaje, excedentes fuera de AGPE, etc). Vacío si no hay.\\n- suggestions: 2-4 acciones recomendadas específicas.\\n- NO inventes valores. Trabaja solo con los datos del payload.`;\n\nfunction extractJSON(text) {\n  const m = (text || '').match(/\\{[\\s\\S]*\\}/);\n  if (!m) throw new Error('JSON no encontrado en respuesta');\n  return JSON.parse(m[0]);\n}\n\nfunction buildResult(parsed, provider, usage) {\n  return {\n    summary: parsed.summary || '',\n    findings: Array.isArray(parsed.findings) ? parsed.findings : [],\n    warnings: Array.isArray(parsed.warnings) ? parsed.warnings : [],\n    suggestions: Array.isArray(parsed.suggestions) ? parsed.suggestions : [],\n    provider,\n    tokens: usage || null,\n  };\n}\n\n// ── 1. Groq — Llama 3.3 70B ──────────────────────────────────────────────────\nif (GROQ_KEY) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.groq.com/openai/v1/chat/completions',\n      headers: { 'Authorization': `Bearer ${GROQ_KEY}`, 'Content-Type': 'application/json' },\n      body: {\n        model: 'llama-3.3-70b-versatile',\n        max_tokens: 1024,\n        temperature: 0.3,\n        messages: [{ role: 'system', content: SYSTEM }, { role: 'user', content: USER_PROMPT }],\n      },\n      json: true,\n    });\n    const text = r.choices?.[0]?.message?.content || '';\n    const parsed = extractJSON(text);\n    const usage = r.usage ? { in: r.usage.prompt_tokens || 0, out: r.usage.completion_tokens || 0 } : null;\n    return [{ json: buildResult(parsed, 'groq-llama3.3-70b', usage) }];\n  } catch (_) { /* continúa con Gemini */ }\n}\n\n// ── 2. Gemini Flash ───────────────────────────────────────────────────────────\nif (GEMINI_KEY) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=${GEMINI_KEY}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        system_instruction: { parts: [{ text: SYSTEM }] },\n        contents: [{ role: 'user', parts: [{ text: USER_PROMPT }] }],\n        generationConfig: { maxOutputTokens: 1024, temperature: 0.3 },\n      },\n      json: true,\n    });\n    const text = r.candidates?.[0]?.content?.parts?.[0]?.text || '';\n    const parsed = extractJSON(text);\n    const meta = r.usageMetadata;\n    const usage = meta ? { in: meta.promptTokenCount || 0, out: meta.candidatesTokenCount || 0 } : null;\n    return [{ json: buildResult(parsed, 'gemini-1.5-flash', usage) }];\n  } catch (_) { /* continúa con Mistral */ }\n}\n\n// ── 3. Mistral Small ─────────────────────────────────────────────────────────\nif (MISTRAL_KEY) {\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.mistral.ai/v1/chat/completions',\n      headers: { 'Authorization': `Bearer ${MISTRAL_KEY}`, 'Content-Type': 'application/json' },\n      body: {\n        model: 'mistral-small-latest',\n        max_tokens: 1024,\n        temperature: 0.3,\n        messages: [{ role: 'system', content: SYSTEM }, { role: 'user', content: USER_PROMPT }],\n      },\n      json: true,\n    });\n    const text = r.choices?.[0]?.message?.content || '';\n    const parsed = extractJSON(text);\n    const usage = r.usage ? { in: r.usage.prompt_tokens || 0, out: r.usage.completion_tokens || 0 } : null;\n    return [{ json: buildResult(parsed, 'mistral-small', usage) }];\n  } catch (_) { /* continúa con Claude Haiku */ }\n}\n\n// ── 4. Claude Haiku — respaldo definitivo ────────────────────────────────────\nif (!ANTHROPIC_KEY) {\n  throw new Error('Ningún proveedor AI disponible. Configura al menos una key en Railway: GROQ_API_KEY, GOOGLE_AI_KEY, MISTRAL_API_KEY o ANTHROPIC_API_KEY.');\n}\n\nconst r = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': ANTHROPIC_KEY,\n    'anthropic-version': '2023-06-01',\n    'content-type': 'application/json',\n  },\n  body: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 1024,\n    system: SYSTEM,\n    messages: [{ role: 'user', content: USER_PROMPT }],\n  },\n  json: true,\n});\n\nconst text = (r.content || []).map(c => c.text || '').join('\\n').trim();\nconst parsed = extractJSON(text);\nconst usage = r.usage ? { in: r.usage.input_tokens || 0, out: r.usage.output_tokens || 0 } : null;\nreturn [{ json: buildResult(parsed, 'claude-haiku-4-5', usage) }];\n"
      },
      "id": "aa000000-0002-4000-9000-000000000002",
      "name": "AI Cascade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "aa000000-0002-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "AI Cascade", "type": "main", "index": 0 }]]
    },
    "AI Cascade": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "5"
}
