n8n/cec.json
{
  "name": "CEC - Búsqueda de paneles e inversores",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cec",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c8000000-0008-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-cec"
    },
    {
      "parameters": {
        "jsCode": "// Valida y normaliza los parámetros de búsqueda CEC.\nconst src = $input.first().json;\nconst body = src.body || src;\nconst type = (body.type || '').toString().trim().toLowerCase();\nconst q     = (body.q     || '').toString().trim();\nconst limit = Math.min(Math.max(parseInt(body.limit ?? 25, 10) || 25, 1), 100);\n\nif (type !== 'panel' && type !== 'inverter') {\n  return [{ json: { ok: false, reason: 'invalid_type', detail: \"type debe ser 'panel' o 'inverter'\" } }];\n}\nreturn [{ json: { ok: true, type, q, limit } }];"
      },
      "id": "c8000000-0008-4000-9000-000000000002",
      "name": "Validar input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8000000-0008-4000-9000-000000000003",
      "name": "Input válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.type === 'panel'\n  ? `SELECT id, manufacturer, model, pmax_w, voc, isc, vmp, imp, efficiency, length_m, width_m, bifacial, raw\n     FROM cec_panels\n     WHERE manufacturer ILIKE '%' || $1 || '%'\n        OR model        ILIKE '%' || $1 || '%'\n     ORDER BY\n       CASE WHEN manufacturer ILIKE $1 || '%' THEN 0 ELSE 1 END,\n       manufacturer, model\n     LIMIT ${$json.limit}`\n  : `SELECT id, manufacturer, model, pac_w, vdc_min, vdc_max, mppt_count, phase, raw\n     FROM cec_inverters\n     WHERE manufacturer ILIKE '%' || $1 || '%'\n        OR model        ILIKE '%' || $1 || '%'\n     ORDER BY\n       CASE WHEN manufacturer ILIKE $1 || '%' THEN 0 ELSE 1 END,\n       manufacturer, model\n     LIMIT ${$json.limit}` }}",
        "options": {
          "queryReplacement": "={{ $json.q }}"
        }
      },
      "id": "c8000000-0008-4000-9000-000000000004",
      "name": "Buscar en Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza resultados al formato esperado por los servicios frontend.\nconst rows = $input.all().map(item => item.json);\nconst input = $('Validar input').first().json;\nconst type = input.type;\n\nconst safeJson = (v) => {\n  if (typeof v !== 'string') return v || {};\n  try { return JSON.parse(v); } catch (_) { return {}; }\n};\n\nconst results = rows.map(r => {\n  const raw = safeJson(r.raw);\n  if (type === 'panel') {\n    return {\n      id: 'cec_' + r.id,\n      brand: r.manufacturer,\n      model: r.model,\n      fullName: `${r.manufacturer} ${r.model}`,\n      wp: r.pmax_w ? Number(r.pmax_w) : null,\n      voc: r.voc ? Number(r.voc) : null,\n      vmp: r.vmp ? Number(r.vmp) : null,\n      isc: r.isc ? Number(r.isc) : null,\n      imp: r.imp ? Number(r.imp) : null,\n      efficiency: r.efficiency ? Number(r.efficiency) : null,\n      length_m: r.length_m ? Number(r.length_m) : null,\n      width_m:  r.width_m  ? Number(r.width_m)  : null,\n      bifacial: r.bifacial || false,\n      tempCoeffPmax: raw.gamma_r ? Number(raw.gamma_r) : null,\n      tempCoeffVoc:  raw.beta_oc  ? Number(raw.beta_oc)  : null,\n      cellCount:     raw.N_s      ? Number(raw.N_s)      : null,\n      technology:    raw.Technology || 'Mono-c-Si',\n      source: 'CEC/Postgres',\n    };\n  } else {\n    return {\n      id: 'cec_' + r.id,\n      brand: r.manufacturer,\n      model: r.model,\n      fullName: `${r.manufacturer} ${r.model}`,\n      kw: r.pac_w ? Number(r.pac_w) / 1000 : null,\n      acMaxContinuousW: r.pac_w ? Number(r.pac_w) : null,\n      vocMax:    r.vdc_max    ? Number(r.vdc_max)    : null,\n      mpptVmin:  r.vdc_min    ? Number(r.vdc_min)    : null,\n      mpptCount: r.mppt_count ? Number(r.mppt_count) : null,\n      phase: r.phase ? Number(r.phase) : 1,\n      source: 'CEC/Postgres',\n    };\n  }\n});\n\nreturn [{ json: {\n  ok: true,\n  type,\n  count: results.length,\n  results,\n  source: 'NREL SAM / CEC (Postgres)',\n} }];"
      },
      "id": "c8000000-0008-4000-9000-000000000005",
      "name": "Normalizar resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first();\nconst detail = err?.json?.message || err?.json?.error || 'Error consultando Postgres';\nreturn [{ json: { ok: false, reason: 'db_error', detail } }];"
      },
      "id": "c8000000-0008-4000-9000-000000000006",
      "name": "Error DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "id": "c8000000-0008-4000-9000-000000000007",
      "name": "Error input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "s-maxage=604800, stale-while-revalidate=86400" }
            ]
          }
        }
      },
      "id": "c8000000-0008-4000-9000-000000000008",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validar input", "type": "main", "index": 0 }]]
    },
    "Validar input": {
      "main": [[{ "node": "Input válido?", "type": "main", "index": 0 }]]
    },
    "Input válido?": {
      "main": [
        [{ "node": "Buscar en Postgres", "type": "main", "index": 0 }],
        [{ "node": "Error input",        "type": "main", "index": 0 }]
      ]
    },
    "Buscar en Postgres": {
      "main": [
        [{ "node": "Normalizar resultados", "type": "main", "index": 0 }],
        [{ "node": "Error DB",             "type": "main", "index": 0 }]
      ]
    },
    "Normalizar resultados": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "Error DB": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "Error input": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "active": false,
  "versionId": "2"
}
