n8n/installer-review.json
{
  "name": "installer-review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "installer-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4000000-0006-0001-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "d4000000-0006-0001-0000-000000000001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "method-check",
              "leftValue": "={{ $json.body.method }}",
              "rightValue": "GET",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4000000-0006-0002-0000-000000000002",
      "name": "GET or POST?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, t.name as installer_name FROM installer_reviews r JOIN technicians t ON t.id = r.installer_id WHERE r.installer_id = $1 ORDER BY r.created_at DESC LIMIT 20",
        "additionalFields": {
          "queryParams": "={{ [$json.body.installer_id] }}"
        }
      },
      "id": "d4000000-0006-0003-0000-000000000003",
      "name": "Get Reviews",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 160],
      "credentials": { "postgres": { "id": "postgres-main", "name": "Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const reviews = $input.all().map(i => i.json);\nconst installerId = $('Webhook').first().json.body.installer_id;\n\nconst dist = { 1: 0, 2: 0, 3: 0, 4: 0, 5: 0 };\nlet sum = 0;\nreviews.forEach(r => {\n  const rating = parseInt(r.rating, 10);\n  if (rating >= 1 && rating <= 5) { dist[rating]++; sum += rating; }\n});\nconst avg = reviews.length > 0 ? Math.round((sum / reviews.length) * 10) / 10 : 0;\n\nreturn [{ json: { ok: true, installer_id: installerId, reviews, summary: { avg, count: reviews.length, distribution: dist } } }];"
      },
      "id": "d4000000-0006-0004-0000-000000000004",
      "name": "Build GET Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "d4000000-0006-0005-0000-000000000005",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO installer_reviews (installer_id, quote_id, client_name, rating, comment) VALUES ($1, $2::uuid, $3, $4, $5) ON CONFLICT ON CONSTRAINT idx_reviews_unique DO NOTHING RETURNING id",
        "additionalFields": {
          "queryParams": "={{ [$json.body.installer_id, $json.body.quote_id, $json.body.client_name || 'Cliente SolarHub', $json.body.rating, $json.body.comment || ''] }}"
        }
      },
      "id": "d4000000-0006-0006-0000-000000000006",
      "name": "Insert Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 440],
      "credentials": { "postgres": { "id": "postgres-main", "name": "Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE technicians SET rating_avg = (SELECT AVG(rating) FROM installer_reviews WHERE installer_id = $1), rating_count = (SELECT COUNT(*) FROM installer_reviews WHERE installer_id = $1) WHERE id = $1",
        "additionalFields": {
          "queryParams": "={{ [$('Webhook').first().json.body.installer_id] }}"
        }
      },
      "id": "d4000000-0006-0007-0000-000000000007",
      "name": "Update Rating Avg",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 440],
      "credentials": { "postgres": { "id": "postgres-main", "name": "Postgres" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "d4000000-0006-0008-0000-000000000008",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "GET or POST?", "type": "main", "index": 0 }]]
    },
    "GET or POST?": {
      "main": [
        [{ "node": "Get Reviews", "type": "main", "index": 0 }],
        [{ "node": "Insert Review", "type": "main", "index": 0 }]
      ]
    },
    "Get Reviews": {
      "main": [[{ "node": "Build GET Response", "type": "main", "index": 0 }]]
    },
    "Build GET Response": {
      "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]]
    },
    "Insert Review": {
      "main": [[{ "node": "Update Rating Avg", "type": "main", "index": 0 }]]
    },
    "Update Rating Avg": {
      "main": [[{ "node": "Respond POST", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "d4000000-0006-0000-0000-000000000000",
  "id": "d4000000-0006-0000-0000-000000000000",
  "tags": ["marketplace", "reviews"]
}
