n8n/installer-credentials.json
{
  "name": "installer-credentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "installer-credentials",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4000000-0007-0001-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "SUBMIT",
              "operation": "equal"
            },
            {
              "value2": "GET",
              "operation": "equal"
            },
            {
              "value2": "REVIEW",
              "operation": "equal"
            }
          ]
        },
        "fallbackOutput": 3,
        "dataType": "string",
        "value1": "={{ $json.body.method }}"
      },
      "id": "d4000000-0007-0001-0000-000000000002",
      "name": "Route by method",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\nINSERT INTO technicians (name, email, phone, installer_type, copnia_number, conte_number, credential_status)\n  VALUES (\n    {{ $json.body.name ? '\\'' + $json.body.name.replace(/'/g, \"''\") + '\\'' : 'NULL' }},\n    '{{ $json.body.email }}',\n    {{ $json.body.phone ? '\\'' + $json.body.phone + '\\'' : 'NULL' }},\n    '{{ $json.body.installer_type || 'tecnico' }}',\n    {{ $json.body.copnia_number ? '\\'' + $json.body.copnia_number + '\\'' : 'NULL' }},\n    {{ $json.body.conte_number ? '\\'' + $json.body.conte_number + '\\'' : 'NULL' }},\n    'en_revision'\n  )\n  ON CONFLICT (email) DO UPDATE SET\n    installer_type = EXCLUDED.installer_type,\n    copnia_number  = COALESCE(EXCLUDED.copnia_number, technicians.copnia_number),\n    conte_number   = COALESCE(EXCLUDED.conte_number,  technicians.conte_number),\n    credential_status = 'en_revision'\n  RETURNING id;\nCOMMIT;",
        "additionalFields": {}
      },
      "id": "d4000000-0007-0001-0000-000000000003",
      "name": "Upsert technician",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [700, 160],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body;\nconst techId = $input.first().json.id || body.technician_id;\nconst docs = body.documents || [];\n\nconst inserts = docs.map(d => ({\n  techId,\n  doc_type: d.doc_type,\n  file_name: d.file_name,\n  file_size_kb: d.file_size_kb || 0,\n  file_data_b64: d.file_data_b64 || null\n}));\n\nreturn inserts.map(d => ({ json: { ...d, body } }));"
      },
      "id": "d4000000-0007-0001-0000-000000000004",
      "name": "Prepare docs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO installer_documents (technician_id, doc_type, file_name, file_size_kb, file_data_b64)\nVALUES (\n  {{ $json.techId }},\n  '{{ $json.doc_type }}',\n  '{{ $json.file_name.replace(/'/g, \"''\") }}',\n  {{ $json.file_size_kb }},\n  {{ $json.file_data_b64 ? '\\'' + $json.file_data_b64.substring(0, 500000) + '\\'' : 'NULL' }}\n);",
        "additionalFields": {}
      },
      "id": "d4000000-0007-0001-0000-000000000005",
      "name": "Insert documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1140, 160],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Documentos recibidos. Revisión en 2-3 días hábiles.\" }",
        "options": {}
      },
      "id": "d4000000-0007-0001-0000-000000000006",
      "name": "Response SUBMIT",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.*, COALESCE(json_agg(d.*) FILTER (WHERE d.id IS NOT NULL), '[]') as documents\nFROM technicians t\nLEFT JOIN installer_documents d ON d.technician_id = t.id\nWHERE t.id = {{ $json.body.technician_id }}\nGROUP BY t.id;",
        "additionalFields": {}
      },
      "id": "d4000000-0007-0001-0000-000000000007",
      "name": "Get technician",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"status\": \"{{ $json.credential_status }}\",\n  \"installer_type\": \"{{ $json.installer_type }}\",\n  \"copnia_number\": \"{{ $json.copnia_number }}\",\n  \"conte_number\": \"{{ $json.conte_number }}\",\n  \"credential_notes\": \"{{ $json.credential_notes }}\",\n  \"verified_at\": \"{{ $json.verified_at }}\",\n  \"documents\": {{ JSON.stringify($json.documents) }}\n}",
        "options": {}
      },
      "id": "d4000000-0007-0001-0000-000000000008",
      "name": "Response GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE technicians SET\n  credential_status = '{{ $json.body.status }}',\n  credential_notes  = {{ $json.body.notes ? '\\'' + $json.body.notes.replace(/'/g, \"''\") + '\\'' : 'NULL' }},\n  verified_at       = NOW(),\n  verified_by       = '{{ $json.body.verified_by || 'admin' }}'\nWHERE id = {{ $json.body.technician_id }};",
        "additionalFields": {}
      },
      "id": "d4000000-0007-0001-0000-000000000009",
      "name": "Update credential status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [700, 440],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE installer_documents SET status = '{{ $json.body.status }}'\nWHERE technician_id = {{ $json.body.technician_id }}\n  AND '{{ $json.body.status }}' = 'aprobado';",
        "additionalFields": {}
      },
      "id": "d4000000-0007-0001-0000-000000000010",
      "name": "Update doc statuses",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [920, 440],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "d4000000-0007-0001-0000-000000000011",
      "name": "Response REVIEW",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unknown method. Use SUBMIT, GET or REVIEW.\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "d4000000-0007-0001-0000-000000000012",
      "name": "Response unknown",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 580]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Route by method", "type": "main", "index": 0 }]
      ]
    },
    "Route by method": {
      "main": [
        [{ "node": "Upsert technician", "type": "main", "index": 0 }],
        [{ "node": "Get technician", "type": "main", "index": 0 }],
        [{ "node": "Update credential status", "type": "main", "index": 0 }],
        [{ "node": "Response unknown", "type": "main", "index": 0 }]
      ]
    },
    "Upsert technician": {
      "main": [
        [{ "node": "Prepare docs", "type": "main", "index": 0 }]
      ]
    },
    "Prepare docs": {
      "main": [
        [{ "node": "Insert documents", "type": "main", "index": 0 }]
      ]
    },
    "Insert documents": {
      "main": [
        [{ "node": "Response SUBMIT", "type": "main", "index": 0 }]
      ]
    },
    "Get technician": {
      "main": [
        [{ "node": "Response GET", "type": "main", "index": 0 }]
      ]
    },
    "Update credential status": {
      "main": [
        [{ "node": "Update doc statuses", "type": "main", "index": 0 }]
      ]
    },
    "Update doc statuses": {
      "main": [
        [{ "node": "Response REVIEW", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
