n8n/list-quotes.json
{
  "name": "ALEBAS — list-quotes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "list-quotes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-list-quotes"
    },
    {
      "parameters": {
        "jsCode": "// JWT guard — lightweight token presence check.\n// Full JWT signature verification activates when PR #162 merges and\n// JWT_SECRET + jsonwebtoken are available in the n8n runner env.\n// Until then, this guards against unauthenticated calls by requiring\n// a non-empty Authorization Bearer token or a body.token field.\nconst src = $input.first().json;\nconst headers = src.headers || {};\nconst body = src.body || src;\n\n// Accept token from Authorization header OR body.token (BackOffice sends header)\nconst authHeader = (headers.authorization || headers.Authorization || '').toString();\nconst tokenFromHeader = authHeader.startsWith('Bearer ') ? authHeader.slice(7).trim() : authHeader.trim();\nconst tokenFromBody = (body.token || '').toString().trim();\nconst token = tokenFromHeader || tokenFromBody;\n\nif (!token || token.length < 10) {\n  // Return 401 through the Respond node — throw stops further execution\n  // and n8n's error output sends a 500 by default, so we set a flag instead.\n  // We pass the raw input through with an __authError flag for the next node.\n  return [{ json: { __authError: true, error: 'Unauthorized', status: 401 } }];\n}\n\n// Token present — pass original input downstream\nreturn [{ json: { ...src, __authError: false } }];"
      },
      "id": "c3000000-0001-4000-9000-000000000006",
      "name": "Auth Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: 'Unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "c3000000-0001-4000-9000-000000000007",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 450]
    },
    {
      "parameters": {
        "jsCode": "// Gate: block if auth failed\nconst src = $input.first().json;\nif (src.__authError) return [];\n// Admite filtros opcionales: status, limit, search (email/nombre)\nconst body = src.body || src;\nconst status = (body.status || '').toString().trim();\nconst search = (body.search || '').toString().trim();\nconst limit = Math.min(500, Math.max(1, Number(body.limit || 100)));\nreturn [{ json: { status, search: search ? `%${search.toLowerCase()}%` : '', limit } }];"
      },
      "id": "c3000000-0001-4000-9000-000000000002",
      "name": "Parse filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  q.id, q.created_at, q.status, q.system_type, q.monthly_kwh, q.operator,\n  q.dept, q.address, q.kwp, q.num_panels, q.total_cop, q.annual_sav_cop, q.roi_years,\n  q.has_excedentes, q.agpe_category, q.coverage_pct, q.shade_index, q.payload,\n  u.id AS user_id, u.email, u.name, u.phone, u.company, u.quote_count\nFROM quotes q\nJOIN users u ON u.id = q.user_id\nWHERE ($1 = '' OR q.status = $1)\n  AND ($2 = '' OR LOWER(u.email) LIKE $2 OR LOWER(u.name) LIKE $2)\nORDER BY q.created_at DESC\nLIMIT $3;",
        "options": {
          "queryReplacement": "={{ [$json.status, $json.search, $json.limit] }}"
        }
      },
      "id": "c3000000-0001-4000-9000-000000000003",
      "name": "Postgres query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, count: rows.length, quotes: rows } }];"
      },
      "id": "c3000000-0001-4000-9000-000000000004",
      "name": "Wrap response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c3000000-0001-4000-9000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Auth Check", "type": "main", "index": 0 }]] },
    "Auth Check": {
      "main": [
        [
          { "node": "Parse filters", "type": "main", "index": 0 },
          { "node": "Respond 401", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse filters": { "main": [[{ "node": "Postgres query", "type": "main", "index": 0 }]] },
    "Postgres query": { "main": [[{ "node": "Wrap response", "type": "main", "index": 0 }]] },
    "Wrap response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "2"
}
