n8n/nasa-power.json
{
  "name": "NASA POWER - Irradiancia y temperaturas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nasa-power",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3000000-0003-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-nasa-power"
    },
    {
      "parameters": {
        "jsCode": "// Valida lat y lon; calcula año anterior como fuente de datos.\nconst src = $input.first().json;\nconst body = src.body || src;\nconst lat = parseFloat(body.lat);\nconst lon = parseFloat(body.lon);\nif (isNaN(lat) || isNaN(lon)) {\n  return [{ json: { ok: false, reason: 'invalid_coords', detail: 'lat y lon requeridos (numéricos)' } }];\n}\nconst year = new Date().getFullYear() - 1;\nreturn [{ json: { ok: true, lat, lon, year } }];"
      },
      "id": "c3000000-0003-4000-9000-000000000002",
      "name": "Validar input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3000000-0003-4000-9000-000000000003",
      "name": "Input válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://power.larc.nasa.gov/api/temporal/monthly/point",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "parameters", "value": "ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN" },
            { "name": "community",  "value": "RE" },
            { "name": "longitude",  "value": "={{ $json.lon }}" },
            { "name": "latitude",   "value": "={{ $json.lat }}" },
            { "name": "start",      "value": "={{ $json.year + '0101' }}" },
            { "name": "end",        "value": "={{ $json.year + '1231' }}" },
            { "name": "format",     "value": "JSON" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "c3000000-0003-4000-9000-000000000004",
      "name": "NASA POWER API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza respuesta NASA POWER temporal/monthly.\n// Claves mensuales: 'YYYYMM' ej. '202301'\nconst j = $input.first().json;\nif (!j?.properties?.parameter) {\n  const detail = j?.message || JSON.stringify(j).slice(0, 200);\n  return [{ json: { ok: false, reason: 'upstream_error', detail } }];\n}\nconst src = $('Validar input').first().json;\nconst year = src.year;\nconst params = j.properties.parameter;\nconst irr    = params.ALLSKY_SFC_SW_DWN || {};\nconst t2m    = params.T2M              || {};\nconst t2mMax = params.T2M_MAX          || {};\nconst t2mMin = params.T2M_MIN          || {};\n\nconst months = Array.from({ length: 12 }, (_, i) =>\n  `${year}${String(i + 1).padStart(2, '0')}`\n);\nconst monthly = months.map(k => ({\n  month: k.slice(4),\n  psh:    +((irr[k]    ?? 0).toFixed(2)),\n  t2m:    +((t2m[k]    ?? 0).toFixed(1)),\n  t2mMax: +((t2mMax[k] ?? 0).toFixed(1)),\n  t2mMin: +((t2mMin[k] ?? 0).toFixed(1)),\n}));\nconst annualPsh = +(monthly.reduce((s, m) => s + m.psh, 0) / 12).toFixed(2);\nconst tAmbMin   = Math.min(...monthly.map(m => m.t2mMin));\nconst tAmbMax   = Math.max(...monthly.map(m => m.t2mMax));\n\nreturn [{ json: {\n  ok: true,\n  lat: src.lat,\n  lon: src.lon,\n  year,\n  monthly,\n  annualPsh,\n  tAmbMin,\n  tAmbMax,\n  cellTempCold: +tAmbMin.toFixed(1),\n  cellTempHot:  +(tAmbMax + 25).toFixed(1),\n  source: 'NASA POWER RE Community',\n  syncedAt: new Date().toISOString(),\n} }];"
      },
      "id": "c3000000-0003-4000-9000-000000000005",
      "name": "Normalizar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first();\nconst detail = err?.json?.message || err?.json?.error || 'NASA POWER no disponible';\nreturn [{ json: { ok: false, reason: 'upstream_error', detail } }];"
      },
      "id": "c3000000-0003-4000-9000-000000000006",
      "name": "Error NASA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "id": "c3000000-0003-4000-9000-000000000007",
      "name": "Error input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "s-maxage=604800, stale-while-revalidate=86400" }
            ]
          }
        }
      },
      "id": "c3000000-0003-4000-9000-000000000008",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validar input", "type": "main", "index": 0 }]]
    },
    "Validar input": {
      "main": [[{ "node": "Input válido?", "type": "main", "index": 0 }]]
    },
    "Input válido?": {
      "main": [
        [{ "node": "NASA POWER API", "type": "main", "index": 0 }],
        [{ "node": "Error input",    "type": "main", "index": 0 }]
      ]
    },
    "NASA POWER API": {
      "main": [
        [{ "node": "Normalizar respuesta", "type": "main", "index": 0 }],
        [{ "node": "Error NASA",           "type": "main", "index": 0 }]
      ]
    },
    "Normalizar respuesta": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "Error NASA": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "Error input": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "active": false,
  "versionId": "1"
}
