n8n/places-autocomplete.json
{
  "name": "ALEBAS — places-autocomplete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "places-autocomplete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pa000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-places-autocomplete"
    },
    {
      "parameters": {
        "jsCode": "// Sugerencias de direcciones via Google Places Autocomplete.\n// Input body: { input: string, sessionToken?: string }\n// Output: { ok, suggestions: [{description, placeId, main, secondary}] }\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst input = (body.input || '').toString().trim();\nconst sessionToken = (body.sessionToken || '').toString().trim();\n\n// Mínimo 3 caracteres — antes de eso devolvemos lista vacía sin gastar quota.\nif (input.length < 3) {\n  return [{ json: { ok: true, suggestions: [], reason: 'input_too_short' } }];\n}\n\nconst safeEnv = (k) => { try { return $env[k]; } catch (_) { return null; } };\nconst GKEY = safeEnv('GOOGLE_API_KEY');\nif (!GKEY) {\n  return [{ json: { ok: false, reason: 'missing_env', detail: 'GOOGLE_API_KEY no configurado' } }];\n}\n\n// Places Autocomplete (legacy) — más estable que la nueva Places API y soporta sessionToken para billing.\nconst qs = {\n  input,\n  key: GKEY,\n  language: 'es',\n  components: 'country:co',  // restringido a Colombia\n  types: 'address',\n};\nif (sessionToken) qs.sessiontoken = sessionToken;\n\nlet resp;\ntry {\n  resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://maps.googleapis.com/maps/api/place/autocomplete/json',\n    qs,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n} catch (e) {\n  return [{ json: { ok: false, reason: 'network', detail: e?.message || 'unknown' } }];\n}\n\nif (resp.statusCode !== 200) {\n  return [{ json: { ok: false, reason: 'http_' + resp.statusCode, detail: 'Places API HTTP ' + resp.statusCode } }];\n}\n\nconst data = resp.body || {};\nif (data.status === 'REQUEST_DENIED') {\n  return [{ json: { ok: false, reason: 'request_denied',\n    detail: data.error_message || 'API key rechazada por Places API. Asegurar que GOOGLE_API_KEY tenga Places API habilitada y restricciones compatibles con uso server-side.' } }];\n}\nif (data.status === 'OVER_QUERY_LIMIT') {\n  return [{ json: { ok: false, reason: 'quota_exceeded', detail: 'Cuota Places API excedida' } }];\n}\nif (data.status !== 'OK' && data.status !== 'ZERO_RESULTS') {\n  return [{ json: { ok: false, reason: 'places_' + (data.status || 'unknown').toLowerCase(),\n    detail: data.error_message || ('Places status: ' + data.status) } }];\n}\n\nconst preds = Array.isArray(data.predictions) ? data.predictions : [];\nconst suggestions = preds.map(p => ({\n  description: p.description,\n  placeId: p.place_id,\n  main: p.structured_formatting?.main_text || p.description,\n  secondary: p.structured_formatting?.secondary_text || '',\n  types: Array.isArray(p.types) ? p.types : [],\n}));\n\nreturn [{ json: { ok: true, suggestions, count: suggestions.length } }];"
      },
      "id": "pa000000-0001-4000-9000-000000000002",
      "name": "Places Autocomplete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "pa000000-0001-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Places Autocomplete", "type": "main", "index": 0 }]]
    },
    "Places Autocomplete": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "active": false,
  "versionId": "1"
}
