n8n/save-quote.json
{
  "name": "ALEBAS — save-quote",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c2000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-save-quote"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza payload del quoter a columnas planas + payload JSONB completo.\n// Fase 6: extrae solarPanels[] (Google Solar API) y dimensiones para análisis posterior.\nconst src = $input.first().json;\nconst body = src.body || src;\nconst q = body || {};\nconst r = q.results || {};\nconst b = q.budget || {};\nconst agpe = q.agpe || {};\nconst panel = q.panel || {};\nconst gse = r.googleSolarEstimate || q.googleSolarEstimate || {};\nconst roof = q.roof || {};\n\nconst email = (q.email || '').toString().trim().toLowerCase();\nconst phone = (q.phone || '').toString().trim();\nconst name = (q.name || '').toString().trim();\nconst company = (q.company || '').toString().trim();\nif (!email) throw new Error('email requerido');\nif (!name) throw new Error('name requerido');\n\nconst ip = (src.headers && (src.headers['x-forwarded-for'] || src.headers['x-real-ip'])) || null;\nconst userAgent = (src.headers && src.headers['user-agent']) || null;\n\n// solarPanels[] puede venir en tres lugares según fase de evolución del frontend:\n//   1) q.solarPanels (top-level, futuro)\n//   2) q.roof.solarPanels (anidado bajo roof)\n//   3) q.results.googleSolarEstimate.solarPanels (vía estimate Google)\n// Se sanitiza a un shape mínimo {center,orientation,segmentIndex,yearlyEnergyDcKwh}\n// para no inflar el JSONB con campos inestables del API.\nfunction extractSolarPanels() {\n  const candidates = [q.solarPanels, roof.solarPanels, gse.solarPanels];\n  const arr = candidates.find(c => Array.isArray(c) && c.length > 0);\n  if (!arr) return null;\n  return arr.slice(0, 500).map(p => ({\n    center: p.center && p.center.latitude != null && p.center.longitude != null\n      ? { latitude: Number(p.center.latitude), longitude: Number(p.center.longitude) }\n      : (p.center && p.center.lat != null && p.center.lng != null\n          ? { latitude: Number(p.center.lat), longitude: Number(p.center.lng) }\n          : null),\n    orientation: p.orientation || null,\n    segmentIndex: p.segmentIndex != null ? Number(p.segmentIndex) : null,\n    yearlyEnergyDcKwh: p.yearlyEnergyDcKwh != null ? Number(p.yearlyEnergyDcKwh) : null,\n  }));\n}\nconst solarPanels = extractSolarPanels();\n\nconst panelHeightMeters = gse.panelHeightMeters != null ? Number(gse.panelHeightMeters)\n  : (roof.panelHeightMeters != null ? Number(roof.panelHeightMeters) : null);\nconst panelWidthMeters  = gse.panelWidthMeters  != null ? Number(gse.panelWidthMeters)\n  : (roof.panelWidthMeters  != null ? Number(roof.panelWidthMeters)  : null);\nconst areaM2           = roof.areaM2 != null ? Number(roof.areaM2)\n  : (q.availableArea != null ? Number(q.availableArea) : null);\nconst wholeRoofAreaM2  = roof.wholeRoofAreaM2 != null ? Number(roof.wholeRoofAreaM2) : null;\nconst imageryQuality   = roof.imageryQuality || gse.imageryQuality || null;\nconst googleYearlyKwh  = gse.yearlyEnergyDcKwh != null ? Number(gse.yearlyEnergyDcKwh) : null;\nconst aiProvider       = (q.aiReview && q.aiReview.provider) || q.aiProvider || null;\n\nreturn [{ json: {\n  email, phone, name, company,\n  system_type: q.systemType || null,\n  monthly_kwh: q.monthlyKwh != null ? Number(q.monthlyKwh) : null,\n  operator: q.operator || null,\n  dept: q.city || q.dept || null,\n  address: q.address || null,\n  lat: q.lat != null ? Number(q.lat) : null,\n  lon: q.lon != null ? Number(q.lon) : null,\n  kwp: r.actKwp != null ? Number(r.actKwp) : null,\n  num_panels: r.numPanels != null ? Math.round(Number(r.numPanels)) : null,\n  panel_id: panel.id || null,\n  production_kwh_month: r.mp != null ? Number(r.mp) : null,\n  coverage_pct: r.cov != null ? Number(r.cov) : null,\n  shade_index: q.shadeIndex != null ? Number(q.shadeIndex) : null,\n  shade_source: q.shadeSource || null,\n  total_cop: b.tot != null ? Math.round(Number(b.tot)) : null,\n  total_usd: b.budgetUsd != null ? Math.round(Number(b.budgetUsd)) : null,\n  section_a_cop: b.sA != null ? Math.round(Number(b.sA)) : null,\n  section_b_cop: b.sB != null ? Math.round(Number(b.sB)) : null,\n  transport_cop: b.transport != null ? Math.round(Number(b.transport)) : null,\n  annual_sav_cop: b.sav != null ? Math.round(Number(b.sav)) : null,\n  roi_years: b.roi != null ? Number(b.roi) : null,\n  has_excedentes: agpe.excedentes != null ? Number(agpe.excedentes) > 0 : null,\n  agpe_category: agpe.agpeCategory || null,\n  regulatory_ids: Array.isArray(q.regulatory) ? q.regulatory : [],\n  payload: q,\n  ip, user_agent: userAgent,\n  solar_panels: solarPanels,\n  panel_height_meters: panelHeightMeters,\n  panel_width_meters: panelWidthMeters,\n  area_m2: areaM2,\n  whole_roof_area_m2: wholeRoofAreaM2,\n  imagery_quality: imageryQuality,\n  google_yearly_kwh: googleYearlyKwh,\n  ai_provider: aiProvider,\n} }];"
      },
      "id": "c2000000-0001-4000-9000-000000000002",
      "name": "Normalize payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (email, phone, name, company, first_seen, last_seen, quote_count)\nVALUES ($1, $2, $3, $4, NOW(), NOW(), 1)\nON CONFLICT (email) DO UPDATE SET\n  phone = COALESCE(EXCLUDED.phone, users.phone),\n  name = COALESCE(EXCLUDED.name, users.name),\n  company = COALESCE(EXCLUDED.company, users.company),\n  last_seen = NOW(),\n  quote_count = users.quote_count + 1\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.email, $json.phone, $json.name, $json.company] }}"
        }
      },
      "id": "c2000000-0001-4000-9000-000000000003",
      "name": "Upsert user",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "// Une userId con el payload normalizado.\nconst norm = $('Normalize payload').first().json;\nconst u = $input.first().json;\nconst userId = Number(u.id || u.ID || 0);\nif (!userId) throw new Error('upsert users no devolvió id');\nreturn [{ json: { ...norm, user_id: userId } }];"
      },
      "id": "c2000000-0001-4000-9000-000000000004",
      "name": "Merge userId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO quotes (\n  user_id, system_type, monthly_kwh, operator, dept, address, lat, lon,\n  kwp, num_panels, panel_id, production_kwh_month, coverage_pct,\n  shade_index, shade_source,\n  total_cop, total_usd, section_a_cop, section_b_cop, transport_cop,\n  annual_sav_cop, roi_years, has_excedentes, agpe_category,\n  regulatory_ids, payload, ip, user_agent,\n  solar_panels, panel_height_meters, panel_width_meters,\n  area_m2, whole_roof_area_m2, imagery_quality, google_yearly_kwh, ai_provider\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8,\n  $9, $10, $11, $12, $13,\n  $14, $15,\n  $16, $17, $18, $19, $20,\n  $21, $22, $23, $24,\n  $25::text[], $26::jsonb, NULLIF($27,'')::inet, $28,\n  NULLIF($29,'')::jsonb, $30, $31,\n  $32, $33, $34, $35, $36\n) RETURNING id, created_at;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.system_type, $json.monthly_kwh, $json.operator, $json.dept, $json.address, $json.lat, $json.lon, $json.kwp, $json.num_panels, $json.panel_id, $json.production_kwh_month, $json.coverage_pct, $json.shade_index, $json.shade_source, $json.total_cop, $json.total_usd, $json.section_a_cop, $json.section_b_cop, $json.transport_cop, $json.annual_sav_cop, $json.roi_years, $json.has_excedentes, $json.agpe_category, $json.regulatory_ids || [], JSON.stringify($json.payload), $json.ip || '', $json.user_agent, $json.solar_panels ? JSON.stringify($json.solar_panels) : '', $json.panel_height_meters, $json.panel_width_meters, $json.area_m2, $json.whole_roof_area_m2, $json.imagery_quality, $json.google_yearly_kwh, $json.ai_provider] }}"
        }
      },
      "id": "c2000000-0001-4000-9000-000000000005",
      "name": "Insert quote",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalize payload').first().json;\nconst merged = $('Merge userId').first().json;\nconst ins = $input.first().json || {};\nconst quoteId = Number(ins.id || 0);\nconst panelsCount = Array.isArray(norm.solar_panels) ? norm.solar_panels.length : 0;\nreturn [{ json: {\n  ok: true,\n  quoteId,\n  userId: merged.user_id,\n  createdAt: ins.created_at || null,\n  contact: { email: norm.email, name: norm.name },\n  totals: { kwp: norm.kwp, total_cop: norm.total_cop, num_panels: norm.num_panels },\n  solar: {\n    panelsPersisted: panelsCount,\n    imageryQuality: norm.imagery_quality,\n    googleYearlyKwh: norm.google_yearly_kwh,\n  },\n} }];"
      },
      "id": "c2000000-0001-4000-9000-000000000006",
      "name": "Build response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c2000000-0001-4000-9000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize payload", "type": "main", "index": 0 }]] },
    "Normalize payload": { "main": [[{ "node": "Upsert user", "type": "main", "index": 0 }]] },
    "Upsert user": { "main": [[{ "node": "Merge userId", "type": "main", "index": 0 }]] },
    "Merge userId": { "main": [[{ "node": "Insert quote", "type": "main", "index": 0 }]] },
    "Insert quote": { "main": [[{ "node": "Build response", "type": "main", "index": 0 }]] },
    "Build response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "2"
}
