n8n/send-quote-email.json
{
  "name": "ALEBAS — send-quote-email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-quote-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e6000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "alebas-send-quote-email"
    },
    {
      "parameters": {
        "jsCode": "// Recibe { id, email?, name?, pdfBase64?, trackingUrl?, customMessage? }.\n// id es opcional — si viene, hace lookup; si no, usa los campos directos.\nconst src = $input.first().json;\nconst body = src.body || src;\nlet rawId = body.id;\nif (typeof rawId === 'string' && rawId.startsWith('r_')) rawId = rawId.slice(2);\nconst quoteId = Number.isFinite(Number(rawId)) ? Number(rawId) : null;\nreturn [{ json: {\n  quoteId,\n  email: (body.email || '').trim().toLowerCase() || null,\n  name: (body.name || '').trim() || null,\n  pdfBase64: body.pdfBase64 || null,\n  trackingUrl: (body.trackingUrl || '').trim() || null,\n  customMessage: (body.customMessage || '').trim() || null,\n} }];"
      },
      "id": "e6000000-0001-4000-9000-000000000002",
      "name": "Parse input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT q.id, q.payload, u.name, u.email FROM quotes q JOIN users u ON u.id = q.user_id WHERE q.id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.quoteId || 0 }}"
        }
      },
      "id": "e6000000-0001-4000-9000-000000000003",
      "name": "Load quote (optional)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Resuelve email/name/trackingUrl: prioriza valores explícitos del body, fallback a la fila Postgres.\nconst input = $('Parse input').first().json;\nconst row = $input.first().json || {};\nconst payload = row.payload || {};\nconst host = $env.N8N_BASE_URL || 'https://solar-hub.co';\nconst toEmail = input.email || row.email;\nif (!toEmail) throw new Error('Falta email del destinatario');\nconst toName = input.name || row.name || 'cliente';\nlet trackingUrl = input.trackingUrl;\nif (!trackingUrl && row.id && payload.trackingToken) {\n  trackingUrl = `https://solar-hub.co/?view=seguimiento&id=${row.id}&t=${encodeURIComponent(payload.trackingToken)}`;\n}\nconst hasPdf = !!input.pdfBase64;\nconst customMessage = input.customMessage;\n\nconst subject = '☀ Tu cotización solar SolarHub' + (row.id ? ` #${row.id}` : '');\nconst htmlBody = `\n<!DOCTYPE html>\n<html><head><meta charset=\"utf-8\"></head>\n<body style=\"font-family: Arial, Helvetica, sans-serif; background:#f6f8fa; margin:0; padding:24px;\">\n  <div style=\"max-width:560px; margin:0 auto; background:#fff; border-radius:12px; overflow:hidden; box-shadow:0 2px 12px rgba(0,0,0,0.06);\">\n    <div style=\"background:#01708B; color:#fff; padding:22px 26px;\">\n      <div style=\"font-size:22px; font-weight:800;\">SolarHub</div>\n      <div style=\"font-size:13px; opacity:0.85; margin-top:2px;\">Tu cotización solar está lista</div>\n    </div>\n    <div style=\"padding:24px 26px; color:#1c2733; line-height:1.6;\">\n      <p style=\"margin:0 0 12px;\">Hola <strong>${escapeHtml(toName)}</strong>,</p>\n      <p style=\"margin:0 0 12px;\">Gracias por confiar en SolarHub. Adjuntamos el resumen ejecutivo de tu cotización solar.</p>\n      ${customMessage ? `<p style=\"margin:0 0 12px; padding:12px; background:#f8f9fb; border-left:3px solid #01708B; border-radius:4px;\">${escapeHtml(customMessage)}</p>` : ''}\n      ${trackingUrl ? `<div style=\"margin:18px 0; padding:16px; background:#fff5e6; border:1px solid #FF8C0033; border-radius:8px;\">\n        <div style=\"font-size:13px; font-weight:600; color:#1c2733; margin-bottom:6px;\">Sigue el estado de tu cotización</div>\n        <a href=\"${trackingUrl}\" style=\"display:inline-block; background:#FF8C00; color:#fff; padding:10px 22px; border-radius:6px; text-decoration:none; font-weight:600; font-size:13px;\">Ver seguimiento →</a>\n      </div>` : ''}\n      <p style=\"margin:14px 0 0; font-size:13px;\">Si tienes preguntas, responde este correo o escríbenos a <a href=\"mailto:solarhub@alebas.co\" style=\"color:#01708B;\">solarhub@alebas.co</a>.</p>\n      <p style=\"margin:18px 0 0; font-size:13px;\">¡Saludos solares!<br/><strong>El equipo de SolarHub</strong></p>\n    </div>\n    <div style=\"background:#f6f8fa; padding:14px 26px; font-size:11px; color:#7A9EAA; text-align:center;\">\n      SolarHub by ALEBAS Ingeniería · NIT 901.992.450-5 · Villavicencio, Meta<br/>\n      Cotización válida por 30 días.\n    </div>\n  </div>\n</body></html>`;\n\nfunction escapeHtml(s) { return String(s).replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c])); }\n\nreturn [{ json: { toEmail, toName, subject, htmlBody, hasPdf, pdfBase64: input.pdfBase64, quoteId: row.id || input.quoteId, trackingUrl } }];"
      },
      "id": "e6000000-0001-4000-9000-000000000004",
      "name": "Build email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "fromEmail": "solarhub@alebas.co",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "attachments": "={{ $json.hasPdf ? 'data:application/pdf;base64,' + $json.pdfBase64 : '' }}",
          "appendAttribution": false,
          "ccEmail": "",
          "bccEmail": "",
          "replyTo": "solarhub@alebas.co"
        }
      },
      "id": "e6000000-0001-4000-9000-000000000005",
      "name": "Send via Gmail SMTP",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 300],
      "credentials": {
        "smtp": {
          "id": "ALEBAS_GMAIL_SMTP",
          "name": "Gmail solarhub@alebas.co"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Confirma envío y opcionalmente registra en historial de la cotización.\nconst built = $('Build email').first().json;\nreturn [{ json: { ok: true, sent: true, to: built.toEmail, quoteId: built.quoteId } }];"
      },
      "id": "e6000000-0001-4000-9000-000000000006",
      "name": "Wrap response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e6000000-0001-4000-9000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Webhook":               { "main": [[{ "node": "Parse input",          "type": "main", "index": 0 }]] },
    "Parse input":           { "main": [[{ "node": "Load quote (optional)","type": "main", "index": 0 }]] },
    "Load quote (optional)": { "main": [[{ "node": "Build email",          "type": "main", "index": 0 }]] },
    "Build email":           { "main": [[{ "node": "Send via Gmail SMTP",  "type": "main", "index": 0 }]] },
    "Send via Gmail SMTP":   { "main": [[{ "node": "Wrap response",        "type": "main", "index": 0 }]] },
    "Wrap response":         { "main": [[{ "node": "Respond",              "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
