n8n/solar-roof.json
{
  "name": "ALEBAS — solar-roof",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-roof",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "alebas-solar-roof"
    },
    {
      "parameters": {
        "jsCode": "// Orquesta: Geocoding -> buildingInsights -> dataLayers -> Claude fallback\n// Env: GOOGLE_API_KEY (req), ANTHROPIC_API_KEY (fallback)\n// Input body: { address?, lat?, lon? }\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst inAddress = (body.address || '').toString().trim();\nlet lat = body.lat != null ? Number(body.lat) : null;\nlet lon = body.lon != null ? Number(body.lon) : null;\nif (!inAddress && (lat == null || lon == null)) {\n  return [{ json: { ok: false, reason: 'invalid_input', detail: 'address o lat/lon requeridos' } }];\n}\n\n// Acceso a env vars tolerante: el task runner de n8n puede denegar acceso ($env getter\n// arroja TypeError cuando no está permitido). Devolvemos null en lugar de crashear.\nconst safeEnv = (k) => { try { return $env[k]; } catch (_) { return null; } };\nconst GKEY = safeEnv('GOOGLE_API_KEY');\nconst AKEY = safeEnv('ANTHROPIC_API_KEY');\n// Genera URLs de Google Static Maps con un círculo opcional que indica\n// el área analizada por Google Solar (proporcional a sqrt(areaM2/π)).\nfunction buildStaticMapUrls(lat, lon, areaM2) {\n  if (lat == null || lon == null) return { satellite: null, road: null, satelliteHD: null };\n  const enc = encodeURIComponent;\n  // Genera un círculo aproximado de radio r metros como path codificado.\n  // 24 puntos alrededor del centro. Cada offset en lat/lon se calcula con la fórmula\n  // de aproximación local: dLat = r/R; dLon = r/(R*cos(lat)). R = 6378137 m.\n  const buildCirclePath = (r) => {\n    if (!r || r <= 0) return null;\n    const N = 24;\n    const R = 6378137;\n    const cosLat = Math.cos(lat * Math.PI / 180);\n    const pts = [];\n    for (let i = 0; i <= N; i++) {\n      const t = (i / N) * 2 * Math.PI;\n      const dLat = (r * Math.cos(t)) / R * (180 / Math.PI);\n      const dLon = (r * Math.sin(t)) / (R * cosLat) * (180 / Math.PI);\n      pts.push((lat + dLat).toFixed(6) + ',' + (lon + dLon).toFixed(6));\n    }\n    return 'color:0xFF8C00FF|fillcolor:0xFF8C0033|weight:3|' + pts.join('|');\n  };\n  const radiusM = areaM2 && areaM2 > 0 ? Math.sqrt(areaM2 / Math.PI) : null;\n  const circlePath = radiusM ? buildCirclePath(radiusM) : null;\n  const mk = (zoom, maptype, size, withCircle) => {\n    const center = enc(lat + ',' + lon);\n    const markers = enc('color:0xFF8C00|size:mid|' + lat + ',' + lon);\n    let qs = 'center=' + center +\n             '&zoom=' + zoom +\n             '&size=' + size +\n             '&maptype=' + maptype +\n             '&markers=' + markers +\n             '&scale=2' +\n             '&key=' + enc(GKEY);\n    if (withCircle && circlePath) qs += '&path=' + enc(circlePath);\n    return 'https://maps.googleapis.com/maps/api/staticmap?' + qs;\n  };\n  return {\n    satellite:   mk(20, 'satellite', '640x400', true),\n    road:        mk(16, 'roadmap',   '640x400', false),\n    // Versión HD (640x640 al doble de scale) para el lightbox.\n    satelliteHD: mk(20, 'satellite', '640x640', true),\n  };\n}\n\nif (!GKEY) {\n  return [{ json: { ok: false, reason: 'missing_env', detail: 'GOOGLE_API_KEY no accesible desde el Code node. En Railway, definir GOOGLE_API_KEY en el servicio n8n y permitir acceso del task runner (NODE_FUNCTION_ALLOW_EXTERNAL / N8N_RUNNERS_TASK_RUNNER_ALLOWED_ENV).', address: inAddress, lat, lon } }];\n}\n\n// 1) Geocoding si no hay coords. Validación estricta + manejo de status Google.\n//    NUNCA throws — siempre devuelve {ok:false, reason} para que el respond node lo\n//    propague como JSON limpio en lugar de \"Respuesta inválida\" / 500.\n//    Normaliza abreviaturas colombianas (Cra, Cl, Av, Tv, Dg, ª/º) antes de consultar.\nlet resolvedAddress = inAddress;\n\n// Normaliza una dirección colombiana para Google Geocoding: expande abreviaturas comunes,\n// quita ordinales (24ª → 24a), añade \", Colombia\" si la dirección no menciona el país.\nfunction normalizeColombianAddress(s) {\n  if (!s) return s;\n  let t = String(s).trim();\n  // Indicadores ordinales: 24ª-44 → 24a-44; 12º → 12. Google los confunde con caracteres raros.\n  t = t.replace(/[ªº°]/g, 'a').replace(/(\\d)\\s*a\\b/gi, '$1a');\n  // Abreviaturas: aplicar SOLO con word-boundary y respetando case-insensitive.\n  // Reemplazos en orden de longitud descendente para evitar colisiones (Crr antes de Cr).\n  const repl = [\n    [/\\b(carr?era|krr|crr|cra|cr)\\.?\\b/gi, 'Carrera'],\n    [/\\b(calle|cll|cl)\\.?\\b/gi,            'Calle'],\n    [/\\b(avenida|avda|avd|av)\\.?\\b/gi,    'Avenida'],\n    [/\\b(transversal|trv|tv)\\.?\\b/gi,     'Transversal'],\n    [/\\b(diagonal|dgn|dg)\\.?\\b/gi,         'Diagonal'],\n    [/\\b(autopista|aut|atp)\\.?\\b/gi,      'Autopista'],\n    [/\\b(manzana|mzn|mz)\\.?\\b/gi,          'Manzana'],\n    [/\\b(apartamento|apto|apt)\\.?\\b/gi,   'Apartamento'],\n    [/\\b(barrio|brr|bo)\\.?\\b/gi,           'Barrio'],\n  ];\n  for (const [re, val] of repl) t = t.replace(re, val);\n  // Colapsar espacios.\n  t = t.replace(/\\s+/g, ' ').trim();\n  // Asegurar país: si no menciona Colombia, añadir.\n  if (!/colombia/i.test(t)) t = t + ', Colombia';\n  return t;\n}\n\nasync function geocodeOnce(query) {\n  return this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://maps.googleapis.com/maps/api/geocode/json',\n    qs: { address: query, key: GKEY, region: 'co', language: 'es' },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\nconst geocode = geocodeOnce.bind(this);\n\nif (lat == null || lon == null) {\n  // Heurística mínima: rechazar inputs imposibles de geocodificar (ej: \"cra\" sin número).\n  if (inAddress.length < 8) {\n    return [{ json: { ok: false, reason: 'invalid_input',\n      detail: 'Ingresa una dirección más completa (calle/carrera + número + ciudad o departamento). Ej: \"Carrera 7 # 32-16, Bogotá\".',\n      address: inAddress, lat: null, lon: null } }];\n  }\n\n  // Generar variantes a probar: normalizada → original → solo ciudad detectada.\n  const normalized = normalizeColombianAddress(inAddress);\n  const variants = [];\n  if (normalized !== inAddress) variants.push(normalized);\n  variants.push(inAddress);\n  // Fallback ciudad: si el input contiene una ciudad reconocible al final, geocodificar solo eso.\n  // Heurística: última palabra >3 chars sin números, asumiendo formato \"<vía> <num> <ciudad>\".\n  const cityMatch = inAddress.match(/[A-Za-záéíóúñ]{4,}\\s*$/i);\n  if (cityMatch) {\n    const cityOnly = cityMatch[0].trim() + ', Colombia';\n    if (!variants.includes(cityOnly)) variants.push(cityOnly);\n  }\n\n  let geoResp = null;\n  let geo = null;\n  let usedQuery = null;\n  for (const q of variants) {\n    try {\n      geoResp = await geocode(q);\n    } catch (e) {\n      return [{ json: { ok: false, reason: 'geocode_network',\n        detail: 'No se pudo contactar Google Geocoding: ' + (e?.message || 'error desconocido'),\n        address: inAddress, lat: null, lon: null } }];\n    }\n    if (geoResp.statusCode === 200 && geoResp.body && geoResp.body.status === 'OK' &&\n        Array.isArray(geoResp.body.results) && geoResp.body.results.length > 0) {\n      geo = geoResp.body;\n      usedQuery = q;\n      break;\n    }\n  }\n  // Si ninguna variante respondió OK, devolver error específico según el último intento.\n  if (!geo) {\n    const last = geoResp || {};\n    const body = last.body || {};\n    // Modo degradado: si Geocoding falla pero tenemos Claude, dejar que estime\n    // sin coords precisas. El usuario obtiene un baseline mientras arregla la key.\n    const geocodeFailDetail = (() => {\n      if (last.statusCode && last.statusCode !== 200) return 'Google Geocoding HTTP ' + last.statusCode;\n      if (body.status === 'ZERO_RESULTS') return 'Dirección no encontrada (probadas ' + variants.length + ' variantes).';\n      if (body.status === 'REQUEST_DENIED') return 'Geocoding rechazado: ' + (body.error_message || 'la API key tiene restricciones que no permiten uso server-side. Crear nueva key con Application restrictions = None o IP addresses, y actualizar GOOGLE_API_KEY en Railway.');\n      if (body.status && body.status !== 'OK') return 'Geocoding status ' + body.status + ': ' + (body.error_message || '');\n      return 'Geocoding falló sin detalle';\n    })();\n    const geocodeFailReason = (() => {\n      if (last.statusCode && last.statusCode !== 200) return 'geocode_http_' + last.statusCode;\n      if (body.status === 'ZERO_RESULTS') return 'no_geocode';\n      if (body.status) return 'geocode_' + body.status.toLowerCase();\n      return 'no_geocode';\n    })();\n\n    if (!AKEY) {\n      // Sin Claude no podemos degradar — devolver error claro.\n      return [{ json: { ok: false, reason: geocodeFailReason,\n        detail: geocodeFailDetail + ' · ANTHROPIC_API_KEY no configurada para fallback.',\n        address: inAddress, attempted: variants, lat: null, lon: null } }];\n    }\n    // Claude estimará con el address text. Marcamos el origen para que la UI sepa\n    // que es estimación y la causa raíz para diagnóstico.\n    resolvedAddress = inAddress;\n    // lat/lon quedan null — la app puede mostrar una bandera \"sin geolocalización\".\n    // Saltar al bloque Claude fallback; setear flag para que skip los pasos Solar API.\n    var skipSolar = true;\n    var degradedReason = geocodeFailReason;\n    var degradedDetail = geocodeFailDetail;\n  } else {\n    var skipSolar = false;\n  }\n  const top = geo.results[0];\n  lat = top?.geometry?.location?.lat;\n  lon = top?.geometry?.location?.lng;\n  if (typeof lat !== 'number' || typeof lon !== 'number') {\n    return [{ json: { ok: false, reason: 'geocode_no_coords',\n      detail: 'Google Geocoding respondió pero sin coordenadas válidas.',\n      address: inAddress, lat: null, lon: null } }];\n  }\n  resolvedAddress = top.formatted_address || usedQuery || inAddress;\n}\n\n// 2) Google Solar buildingInsights — cascada HIGH → MEDIUM → LOW.\n//    HIGH es la mejor (~30cm/pixel DSM) cuando está disponible. Solo fallback si 404.\nlet solar = null;\nlet effectiveQuality = null;  // 'HIGH' | 'MEDIUM' | 'LOW' — calidad EFECTIVA usada\nif (!skipSolar) {\n  const qualities = ['HIGH', 'MEDIUM', 'LOW'];\n  for (const q of qualities) {\n    try {\n      const sr = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://solar.googleapis.com/v1/buildingInsights:findClosest',\n        qs: { 'location.latitude': lat, 'location.longitude': lon, requiredQuality: q, key: GKEY },\n        json: true,\n        returnFullResponse: true,\n        ignoreHttpStatusErrors: true,\n      });\n      if (sr.statusCode === 200 && sr.body) {\n        solar = sr.body;\n        effectiveQuality = q;\n        break;\n      }\n      // 404 = sin cobertura para esa calidad, intentar la siguiente.\n      // Otros errores (403, 429): salir del loop.\n      if (sr.statusCode !== 404) break;\n    } catch (_) { break; }\n  }\n}\n\n// 3) Google Solar dataLayers — usa la calidad efectiva del paso 2 (o LOW si paso 2 falló).\nlet imagery = null;\nif (!skipSolar) {\n  const dlQuality = effectiveQuality || 'LOW';\n  // Helper local: GeoTIFF URLs vienen sin key — Google requiere autenticación al descargar.\n  const withKey = (u) => (typeof u === 'string' && u) ? (u + (u.includes('?') ? '&' : '?') + 'key=' + GKEY) : u;\n  try {\n    const dl = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://solar.googleapis.com/v1/dataLayers:get',\n      qs: {\n        'location.latitude': lat,\n        'location.longitude': lon,\n        radiusMeters: 50,\n        view: 'FULL_LAYERS',\n        requiredQuality: dlQuality,\n        key: GKEY,\n      },\n      json: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n    if (dl.statusCode === 200 && dl.body) {\n      const d = dl.body;\n      imagery = {\n        dsmUrl: withKey(d.dsmUrl) || null,\n        rgbUrl: withKey(d.rgbUrl) || null,\n        maskUrl: withKey(d.maskUrl) || null,\n        annualFluxUrl: withKey(d.annualFluxUrl) || null,\n        monthlyFluxUrl: withKey(d.monthlyFluxUrl) || null,\n        hourlyShadeUrls: Array.isArray(d.hourlyShadeUrls) ? d.hourlyShadeUrls.map(withKey) : [],\n        imageryDate: d.imageryDate || null,\n        imageryQuality: d.imageryQuality || null,\n      };\n    }\n  } catch {}\n}\n\nconst sp = solar && solar.solarPotential;\nif (sp) {\n  const areaM2 = sp.maxArrayAreaMeters2 != null ? Number(sp.maxArrayAreaMeters2) : null;\n  // wholeRoofStats: el techo COMPLETO incluyendo zonas no aprovechables. Útil para\n  // explicar al cliente la diferencia entre \"techo total\" y \"aprovechable para paneles\".\n  const wholeRoofAreaM2 = sp.wholeRoofStats?.areaMeters2 != null ? Number(sp.wholeRoofStats.areaMeters2) : null;\n  // groundAreaMeters2: footprint del edificio (área proyectada al suelo, sin pendiente).\n  const groundAreaM2 = sp.groundAreaMeters2 != null ? Number(sp.groundAreaMeters2) : null;\n  const maxPanels = sp.maxArrayPanelsCount != null ? Number(sp.maxArrayPanelsCount) : null;\n  const sunshine = sp.maxSunshineHoursPerYear != null ? Number(sp.maxSunshineHoursPerYear) : null;\n  let tiltDeg = null, azimuthDeg = null;\n  const configs = sp.solarPanelConfigs || [];\n  const best = configs.reduce((a, b) => (b.panelsCount > (a?.panelsCount || 0) ? b : a), null);\n  // bestEnergyCfg: configuración que MAXIMIZA energía anual (no necesariamente paneles).\n  // Útil cuando segmentos sombreados rinden menos: Google sugiere config \"óptima\" diferente.\n  const bestEnergyCfg = configs.reduce((a, b) => (Number(b.yearlyEnergyDcKwh || 0) > Number(a?.yearlyEnergyDcKwh || 0) ? b : a), null);\n  const panels = sp.solarPanels || [];\n  if (panels.length) {\n    tiltDeg = panels[0].orientation === 'LANDSCAPE' ? 10 : 15;\n  }\n  const roofSegs = sp.roofSegmentStats || [];\n  if (roofSegs.length) {\n    let sumArea = 0, sumAz = 0, sumPitch = 0;\n    for (const s of roofSegs) {\n      const a = s.stats?.areaMeters2 || 0;\n      sumArea += a; sumAz += (s.azimuthDegrees || 0) * a; sumPitch += (s.pitchDegrees || 0) * a;\n    }\n    if (sumArea > 0) {\n      azimuthDeg = Math.round(sumAz / sumArea);\n      tiltDeg = Math.round(sumPitch / sumArea);\n    }\n  }\n\n  // Shade index: ratio avg(top-N panels) / max(panel energy)\n  // 1.0 = no shade; 0.8 = 20% effective shading\n  let shadeIndex = null, shadeSource = null;\n  const energies = panels.map(p => Number(p.yearlyEnergyDcKwh || 0)).filter(v => v > 0);\n  if (energies.length && best?.panelsCount) {\n    const sorted = [...energies].sort((a, b) => b - a);\n    const topN = sorted.slice(0, Math.min(best.panelsCount, sorted.length));\n    const avgTop = topN.reduce((s, v) => s + v, 0) / topN.length;\n    const maxE = sorted[0];\n    if (maxE > 0) {\n      shadeIndex = Math.max(0.1, Math.min(1, avgTop / maxE));\n      shadeSource = 'google-solar-panels';\n    }\n  }\n\n  const roofSegments = roofSegs.map(s => ({\n    azimuthDegrees: s.azimuthDegrees,\n    pitchDegrees: s.pitchDegrees,\n    areaMeters2: s.stats?.areaMeters2 || 0,\n    groundAreaMeters2: s.groundAreaMeters2 || null,\n    sunshineHoursPerYear: s.stats?.sunshineQuantiles ? s.stats.sunshineQuantiles[4] : null,\n    // Coordenadas geográficas — permiten dibujar polígonos sobre el mapa Google Maps JS\n    // y poner labels con el área. Si Google no las devuelve (raro), null y el frontend\n    // omite el overlay para ese segmento.\n    center: s.center ? { lat: Number(s.center.latitude), lng: Number(s.center.longitude) } : null,\n    boundingBox: s.boundingBox && s.boundingBox.sw && s.boundingBox.ne ? {\n      sw: { lat: Number(s.boundingBox.sw.latitude), lng: Number(s.boundingBox.sw.longitude) },\n      ne: { lat: Number(s.boundingBox.ne.latitude), lng: Number(s.boundingBox.ne.longitude) },\n    } : null,\n  }));\n\n  // FASE 2 GOOGLE SOLAR: solarPanels[] — cada panel individual con sus coords\n  // exactas según el algoritmo de packing de Google. Permite renderizar el grid\n  // de paneles azules estilo Google Solar Platform en el frontend.\n  const solarPanels = panels.map(p => ({\n    center: p.center ? { lat: Number(p.center.latitude), lng: Number(p.center.longitude) } : null,\n    orientation: p.orientation || 'LANDSCAPE',\n    yearlyEnergyDcKwh: p.yearlyEnergyDcKwh != null ? Number(p.yearlyEnergyDcKwh) : null,\n    segmentIndex: p.segmentIndex != null ? Number(p.segmentIndex) : null,\n  }));\n  const panelHeightMeters = sp.panelHeightMeters != null ? Number(sp.panelHeightMeters) : 1.65;\n  const panelWidthMeters = sp.panelWidthMeters != null ? Number(sp.panelWidthMeters) : 0.99;\n\n  // Confidence basada en 4 señales (Opciones B+C+D combinadas):\n  //   (a) qualityBase: resolución imagery Google Solar\n  //   (b) completeness: completitud datos (paneles, sombra, segmentos, footprint)\n  //   (c) pinPrecision: cuántos paneles individuales detectó Google (proxy precisión coords)\n  //   (d) coherence: consistencia interna (tilt residencial + azimuth Sur ±60° + datos completos)\n  // Cap LOW@0.92: aunque todo lo demás esté perfecto, imagery 1m/px tiene ±20% de error\n  // inherente en el cálculo de área. Solo HIGH/MEDIUM pueden alcanzar 0.99.\n  let qualityBase = 0.78;\n  if (effectiveQuality === 'HIGH') qualityBase = 0.95;\n  else if (effectiveQuality === 'MEDIUM') qualityBase = 0.88;\n  else if (effectiveQuality === 'LOW') qualityBase = 0.82; // bumped from 0.78 (imagery LOW + buenos datos sigue siendo razonable)\n  // (b) Completeness — máx +0.08\n  const hasRealPanels = panels.length > 0;\n  const shadeFromPanels = shadeSource === 'google-solar-panels';\n  const hasImagery = !!(imagery && imagery.rgbUrl);\n  const hasFullFootprint = (wholeRoofAreaM2 || 0) > 0;\n  const hasMultipleSegments = Array.isArray(roofSegments) && roofSegments.length >= 2;\n  const completeness =\n    (hasRealPanels ? 0.02 : 0) +\n    (shadeFromPanels ? 0.02 : 0) +\n    (hasImagery ? 0.01 : 0) +\n    (hasFullFootprint ? 0.01 : 0) +\n    (hasMultipleSegments ? 0.02 : 0);\n  // (c) Pin precision — paneles detectados como proxy de \"el pin apunta al techo correcto\" — máx +0.03\n  const _panelsDetected = panels.length;\n  const pinPrecision =\n    _panelsDetected >= 10 ? 0.03 :\n    _panelsDetected >= 5  ? 0.02 :\n    _panelsDetected >= 3  ? 0.01 : 0;\n  // (d) Coherence — todas las señales internas alineadas para techo residencial CO — máx +0.04\n  const tiltOk = tiltDeg != null && tiltDeg >= 0 && tiltDeg <= 30;\n  const azOk = azimuthDeg != null && azimuthDeg >= 120 && azimuthDeg <= 240; // Sur ±60°\n  const dataCoherent = hasRealPanels && hasFullFootprint && Array.isArray(roofSegments) && roofSegments.length >= 1;\n  const coherence = (tiltOk && azOk && dataCoherent) ? 0.04 : 0;\n  let confidence = Math.min(0.99, qualityBase + completeness + pinPrecision + coherence);\n  // Cap realista para LOW: por más bonos que sume, imagery 1m/px no puede llegar a 99%\n  if (effectiveQuality === 'LOW') confidence = Math.min(confidence, 0.92);\n  // Hint de precisión basada en cuántos paneles individuales detectó Google. Si la\n  // detección es <5 paneles individuales pero el footprint del edificio es >100 m²,\n  // probablemente las coordenadas no apuntan a la construcción correcta.\n  const panelsDetected = panels.length;\n  const coordinatesPrecisionHint =\n    panelsDetected >= 10 ? 'high' :\n    panelsDetected >= 3  ? 'medium' : 'low';\n  // Google Solar estimate — energía anual + specific yield calculados sobre el modelo\n  // 3D del techo (DSM + sunshine quantiles + shade hora a hora). Valores listos para\n  // alimentar la cascada de producción en el frontend (Google > PVWatts > PVGIS > PSH).\n  const _gPanelW = sp.panelCapacityWatts != null ? Number(sp.panelCapacityWatts) : 250;\n  const _gBestPanels = bestEnergyCfg?.panelsCount != null ? Number(bestEnergyCfg.panelsCount) : (best?.panelsCount || null);\n  const _gYearKwh = bestEnergyCfg?.yearlyEnergyDcKwh != null ? Number(bestEnergyCfg.yearlyEnergyDcKwh) : null;\n  const _gKwpInstalled = (_gBestPanels && _gPanelW) ? (_gBestPanels * _gPanelW / 1000) : null;\n  const _gSpecYield = (_gYearKwh && _gKwpInstalled) ? +(_gYearKwh / _gKwpInstalled).toFixed(0) : null;\n  const googleSolarEstimate = (_gYearKwh != null) ? {\n    yearlyEnergyDcKwh: +_gYearKwh.toFixed(0),\n    panelCapacityWatts: _gPanelW,\n    bestConfigPanels: _gBestPanels,\n    bestConfigKwp: _gKwpInstalled != null ? +_gKwpInstalled.toFixed(2) : null,\n    specificYieldKwhPerKwpYear: _gSpecYield,\n    panelLifetimeYears: sp.panelLifetimeYears != null ? Number(sp.panelLifetimeYears) : 20,\n    peakSunshineHoursYear: sp.maxSunshineHoursPerYear != null ? Number(sp.maxSunshineHoursPerYear) : null,\n    panelHeightMeters: sp.panelHeightMeters != null ? Number(sp.panelHeightMeters) : null,\n    panelWidthMeters: sp.panelWidthMeters != null ? Number(sp.panelWidthMeters) : null,\n    carbonOffsetFactorKgPerMwh: sp.carbonOffsetFactorKgPerMwh != null ? Number(sp.carbonOffsetFactorKgPerMwh) : null,\n    source: 'google-solar-api',\n    methodology: `DSM + sunshine quantiles ${effectiveQuality}`,\n  } : null;\n\n  return [{ json: {\n    lat, lon, address: resolvedAddress,\n    areaM2, wholeRoofAreaM2, groundAreaM2,\n    maxPanels, panelsDetected, coordinatesPrecisionHint,\n    tiltDeg, azimuthDeg,\n    sunshineHoursYear: sunshine,\n    peakSunshineHoursYear: sp.maxSunshineHoursPerYear != null ? Number(sp.maxSunshineHoursPerYear) : null,\n    yearlyEnergyDcKwh: googleSolarEstimate?.yearlyEnergyDcKwh || null,\n    panelCapacityWatts: googleSolarEstimate?.panelCapacityWatts || null,\n    googleSolarEstimate,\n    shadeIndex, shadeSource,\n    roofSegments,\n    solarPanels,\n    panelHeightMeters,\n    panelWidthMeters,\n    imagery,\n    imageryQuality: effectiveQuality,\n    staticMapUrl: buildStaticMapUrls(lat, lon, areaM2 || 60).satellite,\n    staticMapRoadUrl: buildStaticMapUrls(lat, lon, areaM2 || 60).road,\n    staticMapHDUrl: buildStaticMapUrls(lat, lon, areaM2 || 60).satelliteHD,\n    source: 'google',\n    confidence,\n    notes: best ? `config ${best.panelsCount} paneles${shadeIndex != null ? ` · sombra ${Math.round((1 - shadeIndex) * 100)}%` : ''}${effectiveQuality ? ` · calidad ${effectiveQuality}` : ''}${googleSolarEstimate ? ` · ${googleSolarEstimate.specificYieldKwhPerKwpYear} kWh/kWp/año` : ''}` : '',\n  } }];\n}\n\n// 4) Fallback Claude — estimación por ubicación\nif (!AKEY) {\n  return [{ json: {\n    lat, lon, address: resolvedAddress,\n    areaM2: null, tiltDeg: 10, azimuthDeg: 180,\n    shadeIndex: null, shadeSource: null, roofSegments: [], imagery: null,\n    source: 'none', confidence: 0,\n    notes: 'Solar API sin datos y ANTHROPIC_API_KEY no configurada',\n  } }];\n}\nconst prompt = `Eres un ingeniero solar FV en Colombia. Estima el área útil de techo en m² para paneles fotovoltaicos en esta ubicación residencial/comercial típica y un factor de sombreado aproximado.\\n\\nDirección: ${resolvedAddress}\\nCoordenadas: ${lat}, ${lon}\\n\\nDevuelve SOLO JSON válido con esta forma exacta:\\n{\\\"areaM2\\\": number, \\\"tiltDeg\\\": number, \\\"azimuthDeg\\\": number, \\\"shadeIndex\\\": number_0_to_1, \\\"confidence\\\": number_0_to_1, \\\"notes\\\": string}\\n\\nReglas:\\n- Si no tienes contexto, asume vivienda promedio 40-80 m² de techo útil.\\n- Azimuth 0=Norte, 90=Este, 180=Sur, 270=Oeste. En Colombia preferir ~180° con tilt 8-12°.\\n- shadeIndex: 1.0 = sin sombra; 0.9-0.95 típico zona abierta; 0.8-0.85 con árboles o vecinos altos; < 0.8 sombra significativa. Estima conservador.`;\n\nconst claude = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: { 'x-api-key': AKEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n  body: { model: 'claude-haiku-4-5-20251001', max_tokens: 512, messages: [{ role: 'user', content: prompt }] },\n  json: true,\n});\nconst text = (claude.content || []).map(c => c.text || '').join('\\n').trim();\nconst m = text.match(/\\{[\\s\\S]*\\}/);\nif (!m) {\n  return [{ json: { ok: false, reason: 'invalid_json', detail: 'Claude no devolvió JSON parseable', lat, lon, address: resolvedAddress, raw: text.slice(0, 500) } }];\n}\nlet parsed;\ntry { parsed = JSON.parse(m[0]); } catch (e) {\n  return [{ json: { ok: false, reason: 'invalid_json', detail: 'JSON inválido de Claude: ' + e.message, lat, lon, address: resolvedAddress, raw: m[0].slice(0, 500) } }];\n}\n\nreturn [{ json: {\n  lat, lon, address: resolvedAddress,\n  areaM2: parsed.areaM2 != null ? Number(parsed.areaM2) : null,\n  tiltDeg: parsed.tiltDeg != null ? Number(parsed.tiltDeg) : 10,\n  azimuthDeg: parsed.azimuthDeg != null ? Number(parsed.azimuthDeg) : 180,\n  shadeIndex: parsed.shadeIndex != null ? Number(parsed.shadeIndex) : null,\n  shadeSource: parsed.shadeIndex != null ? 'claude-estimate' : null,\n  roofSegments: [], imagery: null,\n  staticMapUrl: buildStaticMapUrls(lat, lon, areaM2).satellite,\n    staticMapRoadUrl: buildStaticMapUrls(lat, lon, areaM2).road,\n  source: skipSolar ? 'claude-degraded' : 'claude',\n  confidence: parsed.confidence != null ? Number(parsed.confidence) : (skipSolar ? 0.3 : 0.4),\n  notes: skipSolar\n    ? ('Estimación sin geolocalización (' + degradedDetail + '). ' + (parsed.notes || ''))\n    : (parsed.notes || ''),\n  degradedReason: skipSolar ? degradedReason : undefined,\n} }];"
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000002",
      "name": "Orchestrate (Geocode + Solar + dataLayers + Claude fallback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Orchestrate (Geocode + Solar + dataLayers + Claude fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrate (Geocode + Solar + dataLayers + Claude fallback)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "alebas"
    }
  ],
  "triggerCount": 0,
  "versionId": "23"
}
