n8n/solar-geotiff-proxy.json
{
  "name": "ALEBAS — solar-geotiff-proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-geotiff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-solar-geotiff"
    },
    {
      "parameters": {
        "jsCode": "// Valida que la URL sea de Google Solar e inyecta la API key.\n// La key se inyecta acá (no en el frontend) para no exponerla.\n// Idempotente: si la URL ya trae ?key= la reemplaza por la actual.\nconst src = $input.first().json;\nconst body = src.body || src;\nconst url = body.url;\nif (!url || typeof url !== 'string') {\n  return [{ json: { ok: false, reason: 'invalid_input', detail: 'url requerida' } }];\n}\nif (!url.startsWith('https://solar.googleapis.com/')) {\n  return [{ json: { ok: false, reason: 'invalid_url', detail: 'url debe ser de solar.googleapis.com' } }];\n}\nconst safeEnv = (k) => { try { return $env[k]; } catch (_) { return null; } };\nconst gkey = safeEnv('GOOGLE_API_KEY');\nif (!gkey) {\n  return [{ json: { ok: false, reason: 'missing_env', detail: 'GOOGLE_API_KEY no configurada en n8n' } }];\n}\n// Quita cualquier key= existente y agrega la nuestra\nconst u = new URL(url);\nu.searchParams.delete('key');\nu.searchParams.set('key', gkey);\nreturn [{ json: { url: u.toString() } }];"
      },
      "id": "g4000000-0001-4000-9000-000000000002",
      "name": "Validate URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-is-error",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000003",
      "name": "If error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file",
              "fullResponse": true
            }
          }
        }
      },
      "id": "g4000000-0001-4000-9000-000000000004",
      "name": "Fetch GeoTIFF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Detecta errores del HTTP Request y los reporta con detalle.\n// n8n con continueOnFail+alwaysOutputData entrega:\n//   - en éxito: item.binary.data + item.json (con headers/statusCode si fullResponse)\n//   - en error: item.json.error con info del fallo\nconst item = $input.first();\nconst err = item.json?.error;\nif (err) {\n  return [{ json: {\n    ok: false,\n    reason: 'fetch_error',\n    detail: `${err.statusCode || ''} ${err.message || err.description || JSON.stringify(err).slice(0,200)}`.trim(),\n  } }];\n}\nconst statusCode = item.json?.statusCode;\nif (statusCode && statusCode >= 400) {\n  return [{ json: {\n    ok: false,\n    reason: 'http_error',\n    detail: `Google respondió HTTP ${statusCode}. Verifica que la API key permita geoTiff:get desde la IP de n8n (sin restricción de referer/IP).`,\n  } }];\n}\nconst bin = item.binary?.data;\nif (!bin || !bin.data) {\n  return [{ json: {\n    ok: false,\n    reason: 'no_binary',\n    detail: `Sin contenido binario. statusCode=${statusCode || 'n/a'}, headers=${JSON.stringify(item.json?.headers || {}).slice(0,150)}`,\n  } }];\n}\nreturn [{ json: {\n  ok: true,\n  base64: bin.data,\n  mimeType: bin.mimeType || 'image/tiff',\n  size: Number(bin.fileSize) || null,\n} }];"
      },
      "id": "g4000000-0001-4000-9000-000000000005",
      "name": "To base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 400 }
      },
      "id": "g4000000-0001-4000-9000-000000000007",
      "name": "Respond error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 180]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate URL", "type": "main", "index": 0 }]] },
    "Validate URL": { "main": [[{ "node": "If error", "type": "main", "index": 0 }]] },
    "If error": {
      "main": [
        [{ "node": "Respond error", "type": "main", "index": 0 }],
        [{ "node": "Fetch GeoTIFF", "type": "main", "index": 0 }]
      ]
    },
    "Fetch GeoTIFF": { "main": [[{ "node": "To base64", "type": "main", "index": 0 }]] },
    "To base64": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "1"
}
