n8n/solar-roof.json
{
  "name": "ALEBAS — solar-roof",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-roof",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "alebas-solar-roof"
    },
    {
      "parameters": {
        "jsCode": "// Orquesta: Geocoding -> buildingInsights -> dataLayers -> Claude fallback\n// Env: GOOGLE_API_KEY (req), ANTHROPIC_API_KEY (fallback)\n// Input body: { address?, lat?, lon? }\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst inAddress = (body.address || '').toString().trim();\nlet lat = body.lat != null ? Number(body.lat) : null;\nlet lon = body.lon != null ? Number(body.lon) : null;\nif (!inAddress && (lat == null || lon == null)) {\n  return [{ json: { ok: false, reason: 'invalid_input', detail: 'address o lat/lon requeridos' } }];\n}\n\n// Acceso a env vars tolerante: el task runner de n8n puede denegar acceso ($env getter\n// arroja TypeError cuando no está permitido). Devolvemos null en lugar de crashear.\nconst safeEnv = (k) => { try { return $env[k]; } catch (_) { return null; } };\nconst GKEY = safeEnv('GOOGLE_API_KEY');\nconst AKEY = safeEnv('ANTHROPIC_API_KEY');\nif (!GKEY) {\n  return [{ json: { ok: false, reason: 'missing_env', detail: 'GOOGLE_API_KEY no accesible desde el Code node. En Railway, definir GOOGLE_API_KEY en el servicio n8n y permitir acceso del task runner (NODE_FUNCTION_ALLOW_EXTERNAL / N8N_RUNNERS_TASK_RUNNER_ALLOWED_ENV).', address: inAddress, lat, lon } }];\n}\n\n// 1) Geocoding si no hay coords. Validación estricta + manejo de status Google.\n//    NUNCA throws — siempre devuelve {ok:false, reason} para que el respond node lo\n//    propague como JSON limpio en lugar de \"Respuesta inválida\" / 500.\n//    Normaliza abreviaturas colombianas (Cra, Cl, Av, Tv, Dg, ª/º) antes de consultar.\nlet resolvedAddress = inAddress;\n\n// Normaliza una dirección colombiana para Google Geocoding: expande abreviaturas comunes,\n// quita ordinales (24ª → 24a), añade \", Colombia\" si la dirección no menciona el país.\nfunction normalizeColombianAddress(s) {\n  if (!s) return s;\n  let t = String(s).trim();\n  // Indicadores ordinales: 24ª-44 → 24a-44; 12º → 12. Google los confunde con caracteres raros.\n  t = t.replace(/[ªº°]/g, 'a').replace(/(\\d)\\s*a\\b/gi, '$1a');\n  // Abreviaturas: aplicar SOLO con word-boundary y respetando case-insensitive.\n  // Reemplazos en orden de longitud descendente para evitar colisiones (Crr antes de Cr).\n  const repl = [\n    [/\\b(carr?era|krr|crr|cra|cr)\\.?\\b/gi, 'Carrera'],\n    [/\\b(calle|cll|cl)\\.?\\b/gi,            'Calle'],\n    [/\\b(avenida|avda|avd|av)\\.?\\b/gi,    'Avenida'],\n    [/\\b(transversal|trv|tv)\\.?\\b/gi,     'Transversal'],\n    [/\\b(diagonal|dgn|dg)\\.?\\b/gi,         'Diagonal'],\n    [/\\b(autopista|aut|atp)\\.?\\b/gi,      'Autopista'],\n    [/\\b(manzana|mzn|mz)\\.?\\b/gi,          'Manzana'],\n    [/\\b(apartamento|apto|apt)\\.?\\b/gi,   'Apartamento'],\n    [/\\b(barrio|brr|bo)\\.?\\b/gi,           'Barrio'],\n  ];\n  for (const [re, val] of repl) t = t.replace(re, val);\n  // Colapsar espacios.\n  t = t.replace(/\\s+/g, ' ').trim();\n  // Asegurar país: si no menciona Colombia, añadir.\n  if (!/colombia/i.test(t)) t = t + ', Colombia';\n  return t;\n}\n\nasync function geocodeOnce(query) {\n  return this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://maps.googleapis.com/maps/api/geocode/json',\n    qs: { address: query, key: GKEY, region: 'co', language: 'es' },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\nconst geocode = geocodeOnce.bind(this);\n\nif (lat == null || lon == null) {\n  // Heurística mínima: rechazar inputs imposibles de geocodificar (ej: \"cra\" sin número).\n  if (inAddress.length < 8) {\n    return [{ json: { ok: false, reason: 'invalid_input',\n      detail: 'Ingresa una dirección más completa (calle/carrera + número + ciudad o departamento). Ej: \"Carrera 7 # 32-16, Bogotá\".',\n      address: inAddress, lat: null, lon: null } }];\n  }\n\n  // Generar variantes a probar: normalizada → original → solo ciudad detectada.\n  const normalized = normalizeColombianAddress(inAddress);\n  const variants = [];\n  if (normalized !== inAddress) variants.push(normalized);\n  variants.push(inAddress);\n  // Fallback ciudad: si el input contiene una ciudad reconocible al final, geocodificar solo eso.\n  // Heurística: última palabra >3 chars sin números, asumiendo formato \"<vía> <num> <ciudad>\".\n  const cityMatch = inAddress.match(/[A-Za-záéíóúñ]{4,}\\s*$/i);\n  if (cityMatch) {\n    const cityOnly = cityMatch[0].trim() + ', Colombia';\n    if (!variants.includes(cityOnly)) variants.push(cityOnly);\n  }\n\n  let geoResp = null;\n  let geo = null;\n  let usedQuery = null;\n  for (const q of variants) {\n    try {\n      geoResp = await geocode(q);\n    } catch (e) {\n      return [{ json: { ok: false, reason: 'geocode_network',\n        detail: 'No se pudo contactar Google Geocoding: ' + (e?.message || 'error desconocido'),\n        address: inAddress, lat: null, lon: null } }];\n    }\n    if (geoResp.statusCode === 200 && geoResp.body && geoResp.body.status === 'OK' &&\n        Array.isArray(geoResp.body.results) && geoResp.body.results.length > 0) {\n      geo = geoResp.body;\n      usedQuery = q;\n      break;\n    }\n  }\n  // Si ninguna variante respondió OK, devolver error específico según el último intento.\n  if (!geo) {\n    const last = geoResp || {};\n    const body = last.body || {};\n    if (last.statusCode && last.statusCode !== 200) {\n      return [{ json: { ok: false, reason: 'geocode_http_' + last.statusCode,\n        detail: 'Google Geocoding devolvió HTTP ' + last.statusCode + '. Verifica GOOGLE_API_KEY y que la API esté habilitada.',\n        address: inAddress, lat: null, lon: null } }];\n    }\n    if (body.status === 'ZERO_RESULTS') {\n      return [{ json: { ok: false, reason: 'no_geocode',\n        detail: 'No se encontró la dirección. Probamos: ' + variants.join(' | ') + '. Sugerencias: revisa ortografía, agrega ciudad y departamento, o usa el formato \"Carrera/Calle N #N-N, Ciudad\".',\n        address: inAddress, attempted: variants, lat: null, lon: null } }];\n    }\n    if (body.status && body.status !== 'OK') {\n      return [{ json: { ok: false, reason: 'geocode_' + body.status.toLowerCase(),\n        detail: body.error_message || ('Geocoding status: ' + body.status),\n        address: inAddress, lat: null, lon: null } }];\n    }\n    return [{ json: { ok: false, reason: 'no_geocode',\n      detail: 'No se encontró la dirección tras probar ' + variants.length + ' variantes.',\n      address: inAddress, attempted: variants, lat: null, lon: null } }];\n  }\n  const top = geo.results[0];\n  lat = top?.geometry?.location?.lat;\n  lon = top?.geometry?.location?.lng;\n  if (typeof lat !== 'number' || typeof lon !== 'number') {\n    return [{ json: { ok: false, reason: 'geocode_no_coords',\n      detail: 'Google Geocoding respondió pero sin coordenadas válidas.',\n      address: inAddress, lat: null, lon: null } }];\n  }\n  resolvedAddress = top.formatted_address || usedQuery || inAddress;\n}\n\n// 2) Google Solar buildingInsights\nlet solar = null;\ntry {\n  const sr = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://solar.googleapis.com/v1/buildingInsights:findClosest',\n    qs: { 'location.latitude': lat, 'location.longitude': lon, requiredQuality: 'LOW', key: GKEY },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n  if (sr.statusCode === 200) solar = sr.body;\n} catch {}\n\n// 3) Google Solar dataLayers — GeoTIFF imagery URLs + shade/flux layers\nlet imagery = null;\ntry {\n  const dl = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://solar.googleapis.com/v1/dataLayers:get',\n    qs: {\n      'location.latitude': lat,\n      'location.longitude': lon,\n      radiusMeters: 50,\n      view: 'FULL_LAYERS',\n      requiredQuality: 'LOW',\n      key: GKEY,\n    },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n  if (dl.statusCode === 200 && dl.body) {\n    const d = dl.body;\n    imagery = {\n      dsmUrl: d.dsmUrl || null,\n      rgbUrl: d.rgbUrl || null,\n      maskUrl: d.maskUrl || null,\n      annualFluxUrl: d.annualFluxUrl || null,\n      monthlyFluxUrl: d.monthlyFluxUrl || null,\n      hourlyShadeUrls: d.hourlyShadeUrls || [],\n      imageryDate: d.imageryDate || null,\n      imageryQuality: d.imageryQuality || null,\n    };\n  }\n} catch {}\n\nconst sp = solar && solar.solarPotential;\nif (sp) {\n  const areaM2 = sp.maxArrayAreaMeters2 != null ? Number(sp.maxArrayAreaMeters2) : null;\n  const maxPanels = sp.maxArrayPanelsCount != null ? Number(sp.maxArrayPanelsCount) : null;\n  const sunshine = sp.maxSunshineHoursPerYear != null ? Number(sp.maxSunshineHoursPerYear) : null;\n  let tiltDeg = null, azimuthDeg = null;\n  const configs = sp.solarPanelConfigs || [];\n  const best = configs.reduce((a, b) => (b.panelsCount > (a?.panelsCount || 0) ? b : a), null);\n  const panels = sp.solarPanels || [];\n  if (panels.length) {\n    tiltDeg = panels[0].orientation === 'LANDSCAPE' ? 10 : 15;\n  }\n  const roofSegs = sp.roofSegmentStats || [];\n  if (roofSegs.length) {\n    let sumArea = 0, sumAz = 0, sumPitch = 0;\n    for (const s of roofSegs) {\n      const a = s.stats?.areaMeters2 || 0;\n      sumArea += a; sumAz += (s.azimuthDegrees || 0) * a; sumPitch += (s.pitchDegrees || 0) * a;\n    }\n    if (sumArea > 0) {\n      azimuthDeg = Math.round(sumAz / sumArea);\n      tiltDeg = Math.round(sumPitch / sumArea);\n    }\n  }\n\n  // Shade index: ratio avg(top-N panels) / max(panel energy)\n  // 1.0 = no shade; 0.8 = 20% effective shading\n  let shadeIndex = null, shadeSource = null;\n  const energies = panels.map(p => Number(p.yearlyEnergyDcKwh || 0)).filter(v => v > 0);\n  if (energies.length && best?.panelsCount) {\n    const sorted = [...energies].sort((a, b) => b - a);\n    const topN = sorted.slice(0, Math.min(best.panelsCount, sorted.length));\n    const avgTop = topN.reduce((s, v) => s + v, 0) / topN.length;\n    const maxE = sorted[0];\n    if (maxE > 0) {\n      shadeIndex = Math.max(0.1, Math.min(1, avgTop / maxE));\n      shadeSource = 'google-solar-panels';\n    }\n  }\n\n  const roofSegments = roofSegs.map(s => ({\n    azimuthDegrees: s.azimuthDegrees,\n    pitchDegrees: s.pitchDegrees,\n    areaMeters2: s.stats?.areaMeters2 || 0,\n    groundAreaMeters2: s.groundAreaMeters2 || null,\n    sunshineHoursPerYear: s.stats?.sunshineQuantiles ? s.stats.sunshineQuantiles[4] : null,\n  }));\n\n  return [{ json: {\n    lat, lon, address: resolvedAddress,\n    areaM2, maxPanels, tiltDeg, azimuthDeg,\n    sunshineHoursYear: sunshine,\n    shadeIndex, shadeSource,\n    roofSegments,\n    imagery,\n    source: 'google',\n    confidence: 0.85,\n    notes: best ? `config ${best.panelsCount} paneles${shadeIndex != null ? ` · sombra ${Math.round((1 - shadeIndex) * 100)}%` : ''}` : '',\n  } }];\n}\n\n// 4) Fallback Claude — estimación por ubicación\nif (!AKEY) {\n  return [{ json: {\n    lat, lon, address: resolvedAddress,\n    areaM2: null, tiltDeg: 10, azimuthDeg: 180,\n    shadeIndex: null, shadeSource: null, roofSegments: [], imagery: null,\n    source: 'none', confidence: 0,\n    notes: 'Solar API sin datos y ANTHROPIC_API_KEY no configurada',\n  } }];\n}\nconst prompt = `Eres un ingeniero solar FV en Colombia. Estima el área útil de techo en m² para paneles fotovoltaicos en esta ubicación residencial/comercial típica y un factor de sombreado aproximado.\\n\\nDirección: ${resolvedAddress}\\nCoordenadas: ${lat}, ${lon}\\n\\nDevuelve SOLO JSON válido con esta forma exacta:\\n{\\\"areaM2\\\": number, \\\"tiltDeg\\\": number, \\\"azimuthDeg\\\": number, \\\"shadeIndex\\\": number_0_to_1, \\\"confidence\\\": number_0_to_1, \\\"notes\\\": string}\\n\\nReglas:\\n- Si no tienes contexto, asume vivienda promedio 40-80 m² de techo útil.\\n- Azimuth 0=Norte, 90=Este, 180=Sur, 270=Oeste. En Colombia preferir ~180° con tilt 8-12°.\\n- shadeIndex: 1.0 = sin sombra; 0.9-0.95 típico zona abierta; 0.8-0.85 con árboles o vecinos altos; < 0.8 sombra significativa. Estima conservador.`;\n\nconst claude = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: { 'x-api-key': AKEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n  body: { model: 'claude-haiku-4-5-20251001', max_tokens: 512, messages: [{ role: 'user', content: prompt }] },\n  json: true,\n});\nconst text = (claude.content || []).map(c => c.text || '').join('\\n').trim();\nconst m = text.match(/\\{[\\s\\S]*\\}/);\nif (!m) {\n  return [{ json: { ok: false, reason: 'invalid_json', detail: 'Claude no devolvió JSON parseable', lat, lon, address: resolvedAddress, raw: text.slice(0, 500) } }];\n}\nlet parsed;\ntry { parsed = JSON.parse(m[0]); } catch (e) {\n  return [{ json: { ok: false, reason: 'invalid_json', detail: 'JSON inválido de Claude: ' + e.message, lat, lon, address: resolvedAddress, raw: m[0].slice(0, 500) } }];\n}\n\nreturn [{ json: {\n  lat, lon, address: resolvedAddress,\n  areaM2: parsed.areaM2 != null ? Number(parsed.areaM2) : null,\n  tiltDeg: parsed.tiltDeg != null ? Number(parsed.tiltDeg) : 10,\n  azimuthDeg: parsed.azimuthDeg != null ? Number(parsed.azimuthDeg) : 180,\n  shadeIndex: parsed.shadeIndex != null ? Number(parsed.shadeIndex) : null,\n  shadeSource: parsed.shadeIndex != null ? 'claude-estimate' : null,\n  roofSegments: [], imagery: null,\n  source: 'claude',\n  confidence: parsed.confidence != null ? Number(parsed.confidence) : 0.4,\n  notes: parsed.notes || '',\n} }];"
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000002",
      "name": "Orchestrate (Geocode + Solar + dataLayers + Claude fallback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Orchestrate (Geocode + Solar + dataLayers + Claude fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrate (Geocode + Solar + dataLayers + Claude fallback)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "alebas"
    }
  ],
  "triggerCount": 0,
  "versionId": "6"
}
