n8n/solar-roof.json
{
  "name": "ALEBAS — solar-roof",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-roof",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-solar-roof"
    },
    {
      "parameters": {
        "jsCode": "// Orquesta: Geocoding -> Google Solar API (buildingInsights + shade) -> Claude fallback\n// Requiere env: GOOGLE_API_KEY, ANTHROPIC_API_KEY\n// Input en body: { address?, lat?, lon? }\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst inAddress = (body.address || '').toString().trim();\nlet lat = body.lat != null ? Number(body.lat) : null;\nlet lon = body.lon != null ? Number(body.lon) : null;\nif (!inAddress && (lat == null || lon == null)) {\n  throw new Error('address o lat/lon requeridos');\n}\n\nconst GKEY = $env.GOOGLE_API_KEY;\nconst AKEY = $env.ANTHROPIC_API_KEY;\nif (!GKEY) throw new Error('Falta env GOOGLE_API_KEY');\n\n// 1) Geocoding si no hay coords\nlet resolvedAddress = inAddress;\nif (lat == null || lon == null) {\n  const geo = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://maps.googleapis.com/maps/api/geocode/json',\n    qs: { address: inAddress, key: GKEY },\n    json: true,\n  });\n  if (!geo.results || !geo.results.length) {\n    throw new Error('Geocoding sin resultados para: ' + inAddress);\n  }\n  const top = geo.results[0];\n  lat = top.geometry.location.lat;\n  lon = top.geometry.location.lng;\n  resolvedAddress = top.formatted_address || inAddress;\n}\n\n// 2) Google Solar API buildingInsights\nlet solar = null;\ntry {\n  solar = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://solar.googleapis.com/v1/buildingInsights:findClosest',\n    qs: {\n      'location.latitude': lat,\n      'location.longitude': lon,\n      requiredQuality: 'LOW',\n      key: GKEY,\n    },\n    json: true,\n  });\n} catch (e) {\n  solar = null;\n}\n\nconst sp = solar && solar.solarPotential;\nif (sp) {\n  const areaM2 = sp.maxArrayAreaMeters2 != null ? Number(sp.maxArrayAreaMeters2) : null;\n  const maxPanels = sp.maxArrayPanelsCount != null ? Number(sp.maxArrayPanelsCount) : null;\n  const sunshine = sp.maxSunshineHoursPerYear != null ? Number(sp.maxSunshineHoursPerYear) : null;\n  let tiltDeg = null, azimuthDeg = null;\n  const configs = sp.solarPanelConfigs || [];\n  const best = configs.reduce((a, b) => (b.panelsCount > (a?.panelsCount || 0) ? b : a), null);\n  const panels = (sp.solarPanels || []);\n  if (panels.length) {\n    const p0 = panels[0];\n    tiltDeg = p0.orientation === 'LANDSCAPE' ? 10 : 15;\n  }\n  const roofSegs = sp.roofSegmentStats || [];\n  if (roofSegs.length) {\n    let sumArea = 0, sumAz = 0, sumPitch = 0;\n    for (const s of roofSegs) {\n      const a = s.stats?.areaMeters2 || 0;\n      sumArea += a;\n      sumAz += (s.azimuthDegrees || 0) * a;\n      sumPitch += (s.pitchDegrees || 0) * a;\n    }\n    if (sumArea > 0) {\n      azimuthDeg = Math.round(sumAz / sumArea);\n      tiltDeg = Math.round(sumPitch / sumArea);\n    }\n  }\n\n  // Shade index — deriva del dataset de paneles potenciales.\n  // Cada panel trae yearlyEnergyDcKwh (producción anual con sombra real).\n  // shadeIndex = promedio(top-N paneles usados) / max(yearlyEnergyDcKwh)\n  // Valor 1.0 = sin sombra; 0.8 = 20% de sombra efectiva.\n  let shadeIndex = null;\n  let shadeSource = null;\n  const energies = panels.map(p => Number(p.yearlyEnergyDcKwh || 0)).filter(v => v > 0);\n  if (energies.length && best?.panelsCount) {\n    const sorted = [...energies].sort((a, b) => b - a);\n    const topN = sorted.slice(0, Math.min(best.panelsCount, sorted.length));\n    const avgTop = topN.reduce((s, v) => s + v, 0) / topN.length;\n    const maxE = sorted[0];\n    if (maxE > 0) {\n      shadeIndex = Math.max(0.1, Math.min(1, avgTop / maxE));\n      shadeSource = 'google-datalayers';\n    }\n  }\n\n  return [{ json: {\n    lat, lon, address: resolvedAddress,\n    areaM2, maxPanels, tiltDeg, azimuthDeg,\n    sunshineHoursYear: sunshine,\n    shadeIndex, shadeSource,\n    source: 'google',\n    confidence: 0.85,\n    notes: best ? `config ${best.panelsCount} paneles${shadeIndex != null ? ` · sombra ${Math.round((1 - shadeIndex) * 100)}%` : ''}` : '',\n  } }];\n}\n\n// 3) Fallback Claude — estimación por ubicación\nif (!AKEY) {\n  return [{ json: {\n    lat, lon, address: resolvedAddress,\n    areaM2: null, tiltDeg: 10, azimuthDeg: 180,\n    shadeIndex: null, shadeSource: null,\n    source: 'none', confidence: 0,\n    notes: 'Solar API sin datos y ANTHROPIC_API_KEY no configurada',\n  } }];\n}\nconst prompt = `Eres un ingeniero solar FV en Colombia. Estima el área útil de techo en m² para paneles fotovoltaicos en esta ubicación residencial/comercial típica y un factor de sombreado aproximado.\n\nDirección: ${resolvedAddress}\nCoordenadas: ${lat}, ${lon}\n\nDevuelve SOLO JSON válido con esta forma exacta:\n{\"areaM2\": number, \"tiltDeg\": number, \"azimuthDeg\": number, \"shadeIndex\": number_0_to_1, \"confidence\": number_0_to_1, \"notes\": string}\n\nReglas:\n- Si no tienes contexto, asume vivienda promedio 40-80 m² de techo útil.\n- Azimuth 0=Norte, 90=Este, 180=Sur, 270=Oeste. En Colombia preferir ~180° con tilt 8-12°.\n- shadeIndex: 1.0 = sin sombra; 0.9-0.95 típico zona abierta; 0.8-0.85 con árboles o vecinos altos; < 0.8 sombra significativa. Estima conservador.`;\n\nconst claude = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': AKEY,\n    'anthropic-version': '2023-06-01',\n    'content-type': 'application/json',\n  },\n  body: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 512,\n    messages: [{ role: 'user', content: prompt }],\n  },\n  json: true,\n});\nconst text = (claude.content || []).map(c => c.text || '').join('\\n').trim();\nconst m = text.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('Claude no devolvió JSON parseable');\nlet parsed;\ntry { parsed = JSON.parse(m[0]); } catch (e) { throw new Error('JSON inválido de Claude: ' + e.message); }\n\nreturn [{ json: {\n  lat, lon, address: resolvedAddress,\n  areaM2: parsed.areaM2 != null ? Number(parsed.areaM2) : null,\n  tiltDeg: parsed.tiltDeg != null ? Number(parsed.tiltDeg) : 10,\n  azimuthDeg: parsed.azimuthDeg != null ? Number(parsed.azimuthDeg) : 180,\n  shadeIndex: parsed.shadeIndex != null ? Number(parsed.shadeIndex) : null,\n  shadeSource: parsed.shadeIndex != null ? 'claude-estimate' : null,\n  source: 'claude',\n  confidence: parsed.confidence != null ? Number(parsed.confidence) : 0.4,\n  notes: parsed.notes || '',\n} }];"
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000002",
      "name": "Orchestrate (Geocode + Solar + Shade + Claude fallback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f5b1b2c1-0001-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Orchestrate (Geocode + Solar + Shade + Claude fallback)", "type": "main", "index": 0 }]]
    },
    "Orchestrate (Geocode + Solar + Shade + Claude fallback)": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "2"
}
