n8n/solar-geotiff-proxy.json
{
  "name": "ALEBAS — solar-geotiff-proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-geotiff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-solar-geotiff"
    },
    {
      "parameters": {
        "jsCode": "// Valida la URL y construye la URL final con la API key inyectada.\n// Try/catch global garantiza que SIEMPRE devolvamos un item — n8n no\n// puede dejar el webhook colgado sin respuesta.\ntry {\n  const src = $input.first().json;\n  const body = src.body || src;\n  const urlIn = body && body.url;\n  if (!urlIn || typeof urlIn !== 'string') {\n    return [{ json: { ok: false, reason: 'invalid_input', detail: 'url requerida en body.url' } }];\n  }\n  if (!urlIn.startsWith('https://solar.googleapis.com/')) {\n    return [{ json: { ok: false, reason: 'invalid_url', detail: 'url debe ser de solar.googleapis.com' } }];\n  }\n  let gkey = null;\n  try { gkey = $env && $env.GOOGLE_API_KEY; } catch (_) { /* ignore */ }\n  if (!gkey) {\n    return [{ json: { ok: false, reason: 'missing_env', detail: 'GOOGLE_API_KEY no configurada en n8n (Railway → Variables)' } }];\n  }\n  // String manipulation pura — quita ?key=/&key= y agrega el actual\n  const hashIdx = urlIn.indexOf('#');\n  const urlNoHash = hashIdx >= 0 ? urlIn.slice(0, hashIdx) : urlIn;\n  const qIdx = urlNoHash.indexOf('?');\n  const base = qIdx >= 0 ? urlNoHash.slice(0, qIdx) : urlNoHash;\n  const qs = qIdx >= 0 ? urlNoHash.slice(qIdx + 1) : '';\n  const params = qs.split('&').filter(p => p && p.split('=')[0] !== 'key');\n  params.push('key=' + encodeURIComponent(gkey));\n  const finalUrl = base + '?' + params.join('&');\n  return [{ json: { ok: true, finalUrl } }];\n} catch (e) {\n  return [{ json: { ok: false, reason: 'validate_exception', detail: String(e && e.message || e).slice(0, 300) } }];\n}"
      },
      "id": "g4000000-0001-4000-9000-000000000002",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "v-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000003",
      "name": "If valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.finalUrl }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file",
              "fullResponse": true
            }
          }
        }
      },
      "id": "g4000000-0001-4000-9000-000000000004",
      "name": "Fetch GeoTIFF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 220],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Convierte el binario descargado a base64 + maneja errores HTTP.\n// Try/catch global → siempre devuelve item válido.\ntry {\n  const item = $input.first();\n  // Error de red en el HTTP Request\n  if (item.json && item.json.error) {\n    const e = item.json.error;\n    return [{ json: {\n      ok: false,\n      reason: 'fetch_error',\n      detail: ((e.statusCode || '') + ' ' + (e.message || e.description || '')).trim() || 'fetch falló sin detalle',\n    } }];\n  }\n  // HTTP 4xx/5xx con cuerpo de error\n  const sc = item.json && item.json.statusCode;\n  if (sc && sc >= 400) {\n    let bodyText = '';\n    try {\n      const b = item.json.body;\n      if (b) bodyText = (typeof b === 'string' ? b : (Buffer.isBuffer(b) ? b.toString('utf8') : JSON.stringify(b))).slice(0, 400);\n    } catch (_) {}\n    return [{ json: {\n      ok: false,\n      reason: 'http_' + sc,\n      detail: 'Google HTTP ' + sc + ': ' + (bodyText || 'sin cuerpo'),\n    } }];\n  }\n  // Binario presente: convertir a base64\n  const bin = item.binary && item.binary.data;\n  if (!bin || !bin.data) {\n    return [{ json: {\n      ok: false,\n      reason: 'no_binary',\n      detail: 'sin binario. statusCode=' + (sc || 'n/a') + ', json keys=' + Object.keys(item.json || {}).join(','),\n    } }];\n  }\n  return [{ json: {\n    ok: true,\n    base64: bin.data,\n    mimeType: bin.mimeType || 'image/tiff',\n    size: Number(bin.fileSize) || null,\n  } }];\n} catch (e) {\n  return [{ json: { ok: false, reason: 'encode_exception', detail: String(e && e.message || e).slice(0, 300) } }];\n}"
      },
      "id": "g4000000-0001-4000-9000-000000000005",
      "name": "To base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate", "type": "main", "index": 0 }]] },
    "Validate": { "main": [[{ "node": "If valid", "type": "main", "index": 0 }]] },
    "If valid": {
      "main": [
        [{ "node": "Fetch GeoTIFF", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Fetch GeoTIFF": { "main": [[{ "node": "To base64", "type": "main", "index": 0 }]] },
    "To base64": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "3"
}
