n8n/solar-geotiff-proxy.json
{
  "name": "ALEBAS — solar-geotiff-proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-geotiff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-solar-geotiff"
    },
    {
      "parameters": {
        "jsCode": "// Proxy GeoTIFF: valida URL, inyecta GOOGLE_API_KEY (server-side),\n// descarga el binario, convierte a base64 y devuelve.\n// Todo en un solo Code node para minimizar puntos de falla en n8n.\n\nconst src = $input.first().json;\nconst body = src.body || src;\nconst urlIn = body && body.url;\n\nif (!urlIn || typeof urlIn !== 'string') {\n  return [{ json: { ok: false, reason: 'invalid_input', detail: 'url requerida' } }];\n}\nif (!urlIn.startsWith('https://solar.googleapis.com/')) {\n  return [{ json: { ok: false, reason: 'invalid_url', detail: 'url debe ser de solar.googleapis.com' } }];\n}\n\n// API key del entorno de n8n (Railway env var GOOGLE_API_KEY)\nlet gkey = null;\ntry { gkey = $env && $env.GOOGLE_API_KEY; } catch (_) { /* ignore */ }\nif (!gkey) {\n  return [{ json: { ok: false, reason: 'missing_env', detail: 'GOOGLE_API_KEY no configurada en n8n (Railway → Variables)' } }];\n}\n\n// Quita key existente (si la había) y agrega la actual — string manipulation\n// pura, sin URL constructor (más robusto en sandbox de n8n).\nconst hashIdx = urlIn.indexOf('#');\nconst urlNoHash = hashIdx >= 0 ? urlIn.slice(0, hashIdx) : urlIn;\nconst qIdx = urlNoHash.indexOf('?');\nconst base = qIdx >= 0 ? urlNoHash.slice(0, qIdx) : urlNoHash;\nconst qs = qIdx >= 0 ? urlNoHash.slice(qIdx + 1) : '';\nconst params = qs.split('&').filter(p => p && p.split('=')[0] !== 'key');\nparams.push('key=' + encodeURIComponent(gkey));\nconst finalUrl = base + '?' + params.join('&');\n\n// Descarga el binario usando helpers de n8n.\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: finalUrl,\n    encoding: 'arraybuffer',\n    returnFullResponse: true,\n    timeout: 30000,\n  });\n} catch (err) {\n  const code = err.response?.status || err.statusCode || err.httpCode || 'n/a';\n  let bodyText = '';\n  try {\n    const b = err.response?.data || err.body;\n    if (b) bodyText = (typeof b === 'string' ? b : Buffer.isBuffer(b) ? b.toString('utf8') : JSON.stringify(b)).slice(0, 400);\n  } catch (_) {}\n  return [{ json: { ok: false, reason: 'http_error', detail: 'Google ' + code + ': ' + (bodyText || err.message || 'sin cuerpo') } }];\n}\n\nconst statusCode = response?.statusCode || response?.status;\nif (statusCode && statusCode >= 400) {\n  let bodyText = '';\n  try { bodyText = Buffer.isBuffer(response.body) ? response.body.toString('utf8') : (typeof response.body === 'string' ? response.body : JSON.stringify(response.body)); } catch (_) {}\n  return [{ json: { ok: false, reason: 'http_error', detail: 'Google ' + statusCode + ': ' + bodyText.slice(0, 400) } }];\n}\n\nconst raw = response?.body;\nif (!raw) {\n  return [{ json: { ok: false, reason: 'empty_body', detail: 'Google devolvió respuesta vacía (status ' + (statusCode || 'n/a') + ')' } }];\n}\nconst buf = Buffer.isBuffer(raw) ? raw : Buffer.from(raw);\nconst base64 = buf.toString('base64');\nconst mimeType = (response.headers && (response.headers['content-type'] || response.headers['Content-Type'])) || 'image/tiff';\n\nreturn [{ json: { ok: true, base64, mimeType, size: buf.length } }];"
      },
      "id": "g4000000-0001-4000-9000-000000000002",
      "name": "Validate + Fetch + Encode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "g4000000-0001-4000-9000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate + Fetch + Encode", "type": "main", "index": 0 }]] },
    "Validate + Fetch + Encode": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "2"
}
