n8n/supplier-stock.json
{
  "name": "ALEBAS — supplier-stock",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supplier-stock",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4000000-0002-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-supplier-stock"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json;\nconst body = src.body || src;\nconst headers = src.headers || {};\n\n// Extract JWT token from Authorization header or body\nlet token = '';\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nif (authHeader.startsWith('Bearer ')) {\n  token = authHeader.slice(7).trim();\n} else if (body.token) {\n  token = (body.token || '').toString().trim();\n}\n\nif (!token) {\n  return [{ json: { __authError: true } }];\n}\n\nlet decoded;\ntry {\n  const jwt = require('jsonwebtoken');\n  decoded = jwt.verify(token, process.env.JWT_SECRET);\n} catch (e) {\n  return [{ json: { __authError: true } }];\n}\n\nconst supplier_id = decoded.sub;\nconst body_supplier_id = (body.supplier_id || '').toString();\n\nif (body_supplier_id && String(supplier_id) !== String(body_supplier_id)) {\n  return [{ json: { __authError: true } }];\n}\n\nconst method = (body.method || 'GET').toString().toUpperCase();\nconst item = body.item || {};\nconst patch = body.patch || {};\n\nreturn [{ json: { method, supplier_id, item, patch, verified: true } }];"
      },
      "id": "d4000000-0002-4000-9000-000000000002",
      "name": "Code: Auth+Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "GET",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "POST",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POST"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "PATCH",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PATCH"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.__authError }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUTH_ERROR"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "d4000000-0002-4000-9000-000000000003",
      "name": "Switch: method",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, equipment_type, brand, model, wp, kw, kwh, unit_price_cop, qty_available, qty_reserved, lead_time_days, is_active, updated_at\nFROM supplier_stock\nWHERE supplier_id = $1\nORDER BY equipment_type, brand",
        "options": {
          "queryReplacement": "={{ [$json.supplier_id] }}"
        }
      },
      "id": "d4000000-0002-4000-9000-000000000004",
      "name": "Postgres: GET",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 100],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, items: rows } }];"
      },
      "id": "d4000000-0002-4000-9000-000000000005",
      "name": "Code: Wrap GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO supplier_stock\n  (supplier_id, equipment_type, brand, model, wp, kw, kwh, unit_price_cop, qty_available, lead_time_days, is_active)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, true)\nRETURNING *",
        "options": {
          "queryReplacement": "={{ [$json.supplier_id, $json.item.equipment_type, $json.item.brand, $json.item.model, $json.item.wp || null, $json.item.kw || null, $json.item.kwh || null, $json.item.unit_price_cop, $json.item.qty_available || 0, $json.item.lead_time_days || 3] }}"
        }
      },
      "id": "d4000000-0002-4000-9000-000000000006",
      "name": "Postgres: INSERT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE supplier_stock\nSET\n  qty_available = COALESCE($1::int, qty_available),\n  unit_price_cop = COALESCE($2::bigint, unit_price_cop),\n  is_active = COALESCE($3::boolean, is_active),\n  updated_at = NOW()\nWHERE id = $4::uuid\n  AND supplier_id = $5\nRETURNING id, equipment_type, brand, model, qty_available, unit_price_cop, is_active, updated_at",
        "options": {
          "queryReplacement": "={{ [$json.patch.qty_available !== undefined ? $json.patch.qty_available : null, $json.patch.unit_price_cop !== undefined ? $json.patch.unit_price_cop : null, $json.patch.is_active !== undefined ? $json.patch.is_active : null, $json.patch.id, $json.supplier_id] }}"
        }
      },
      "id": "d4000000-0002-4000-9000-000000000007",
      "name": "Postgres: UPDATE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 500],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{ json: { ok: true, item: row } }];"
      },
      "id": "d4000000-0002-4000-9000-000000000008",
      "name": "Code: Wrap POST/PATCH",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: false, error: 'Token inválido' } }];"
      },
      "id": "d4000000-0002-4000-9000-000000000009",
      "name": "Code: Auth Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d4000000-0002-4000-9000-000000000010",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d4000000-0002-4000-9000-000000000011",
      "name": "Respond POST/PATCH",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d4000000-0002-4000-9000-000000000012",
      "name": "Respond Auth Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 700]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code: Auth+Parse", "type": "main", "index": 0 }]]
    },
    "Code: Auth+Parse": {
      "main": [[{ "node": "Switch: method", "type": "main", "index": 0 }]]
    },
    "Switch: method": {
      "main": [
        [{ "node": "Postgres: GET", "type": "main", "index": 0 }],
        [{ "node": "Postgres: INSERT", "type": "main", "index": 0 }],
        [{ "node": "Postgres: UPDATE", "type": "main", "index": 0 }],
        [{ "node": "Code: Auth Error", "type": "main", "index": 0 }]
      ]
    },
    "Postgres: GET": {
      "main": [[{ "node": "Code: Wrap GET", "type": "main", "index": 0 }]]
    },
    "Code: Wrap GET": {
      "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]]
    },
    "Postgres: INSERT": {
      "main": [[{ "node": "Code: Wrap POST/PATCH", "type": "main", "index": 0 }]]
    },
    "Postgres: UPDATE": {
      "main": [[{ "node": "Code: Wrap POST/PATCH", "type": "main", "index": 0 }]]
    },
    "Code: Wrap POST/PATCH": {
      "main": [[{ "node": "Respond POST/PATCH", "type": "main", "index": 0 }]]
    },
    "Code: Auth Error": {
      "main": [[{ "node": "Respond Auth Error", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }, { "name": "supplier" }],
  "triggerCount": 0,
  "versionId": "1"
}
