n8n/supplier-auth.json
{
  "name": "ALEBAS — supplier-auth",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supplier-auth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-supplier-auth"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json;\nconst body = src.body || src;\nconst email = (body.email || '').toString().trim().toLowerCase();\nconst password = (body.password || '').toString();\nconst token = (body.token || '').toString().trim();\nreturn [{ json: { email, password, token } }];"
      },
      "id": "d4000000-0001-4000-9000-000000000002",
      "name": "Code: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, company, email, phone, nit, city, dept, bank_account, platform_fee_pct, supplier_token, password_hash, active, verified\nFROM suppliers\nWHERE (($1 <> '' AND supplier_token = $1::uuid) OR ($2 <> '' AND email = $2))\n  AND active = true\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.token, $json.email] }}"
        }
      },
      "id": "d4000000-0001-4000-9000-000000000003",
      "name": "Postgres: Lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst prev = $('Code: Parse').first().json;\nconst { email, password, token } = prev;\n\nif (!rows.length) {\n  return [{ json: { ok: false, error: 'Credenciales inválidas' } }];\n}\n\nconst row = rows[0];\n\n// If logging in with password (not token-only), verify bcrypt\nif (!token && password) {\n  const bcrypt = require('bcryptjs');\n  const valid = bcrypt.compareSync(password, row.password_hash || '');\n  if (!valid) {\n    return [{ json: { ok: false, error: 'Credenciales inválidas' } }];\n  }\n}\n\n// If token login (no password provided), trust the token lookup directly\nif (!token && !password) {\n  return [{ json: { ok: false, error: 'Se requiere token o contraseña' } }];\n}\n\nconst jwt = require('jsonwebtoken');\nconst signed = jwt.sign(\n  { sub: row.id, role: 'supplier' },\n  process.env.JWT_SECRET,\n  { expiresIn: '7d' }\n);\n\nreturn [{\n  json: {\n    ok: true,\n    jwt: signed,\n    supplier: {\n      id: row.id,\n      company: row.company,\n      email: row.email,\n      phone: row.phone,\n      nit: row.nit,\n      city: row.city,\n      dept: row.dept,\n      bank_account: row.bank_account,\n      platform_fee_pct: row.platform_fee_pct\n    }\n  }\n}];"
      },
      "id": "d4000000-0001-4000-9000-000000000004",
      "name": "Code: Sign JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d4000000-0001-4000-9000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code: Parse", "type": "main", "index": 0 }]]
    },
    "Code: Parse": {
      "main": [[{ "node": "Postgres: Lookup", "type": "main", "index": 0 }]]
    },
    "Postgres: Lookup": {
      "main": [[{ "node": "Code: Sign JWT", "type": "main", "index": 0 }]]
    },
    "Code: Sign JWT": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }, { "name": "supplier" }],
  "triggerCount": 0,
  "versionId": "1"
}
