n8n/tarifas-sync.json
{
  "name": "Tarifas OR - Sync mensual automático (CREG 091)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 7 1 * *" }] }
      },
      "id": "ca000000-000a-4000-9000-000000000001",
      "name": "Cron mensual (día 1, 7am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tarifas-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca000000-000a-4000-9000-000000000002",
      "name": "Webhook manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "alebas-tarifas-sync"
    },
    {
      "parameters": {
        "jsCode": "// Paso 1: obtener G (generación) desde SUI / datos.gov.co / XM.\n// SUI publica la tarifa CU y sus componentes en su portal.\n// URL dataset SUI componentes tarifarios:\n// https://www.sui.gov.co/web/energia/tarifas-energia-electrica\n// Dataset open data: datos.gov.co tiene el dataset de tarifas por OR.\n//\n// Estrategia:\n// 1) Intentar datos.gov.co (dataset tarifas SUI - energy)\n// 2) Fallback: calcular G desde precio bolsa XM (proxy adecuado)\n// 3) Devolver componentes inferidos actualizados para cada OR\n\n// Primero intentamos el dataset de tarifas de datos.gov.co.\n// El dataset 'tx74-hte9' contiene tarifas de energía eléctrica por empresa.\nconst fetchSUI = async () => {\n  const r = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.datos.gov.co/resource/tx74-hte9.json',\n    qs: {\n      '$limit': '200',\n      '$order': 'anio DESC, mes DESC',\n      '$where': \"sector='RESIDENCIAL' AND estrato='4'\",\n    },\n    headers: { 'User-Agent': 'alebas-cotizador/1.0', 'Accept': 'application/json' },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    json: true,\n  });\n  if (r.statusCode !== 200) throw new Error(`SUI datos.gov.co HTTP ${r.statusCode}`);\n  const rows = Array.isArray(r.body) ? r.body : [];\n  if (!rows.length) throw new Error('SUI: sin registros');\n  return rows;\n};\n\n// Fallback: XM precio bolsa → aproximar G\nconst fetchXMSpot = async () => {\n  const end = new Date(Date.now() - 24*60*60*1000);\n  const start = new Date(end.getTime() - 30*24*60*60*1000);\n  const isoDate = d => d.toISOString().slice(0,10);\n  const candidates = [\n    { path: '/hourly', MetricId: 'Preciobols',   Entity: 'Sistema' },\n    { path: '/hourly', MetricId: 'PrecBolsNal',  Entity: 'Sistema' },\n    { path: '/hourly', MetricId: 'Bolsa',        Entity: 'Sistema' },\n  ];\n  for (const c of candidates) {\n    try {\n      const body = { MetricId: c.MetricId, StartDate: isoDate(start), EndDate: isoDate(end) };\n      if (c.Entity) body.Entity = c.Entity;\n      const r = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://servapibi.xm.com.co${c.path}`,\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify(body),\n        returnFullResponse: true,\n        ignoreHttpStatusErrors: true,\n      });\n      if (r.statusCode >= 400) continue;\n      const j = typeof r.body === 'string' ? JSON.parse(r.body) : r.body;\n      const vals = [];\n      const walk = (n) => { if (!n) return; if (Array.isArray(n)) { n.forEach(walk); return; } if (typeof n === 'object') { for (const [k,v] of Object.entries(n)) { if (/^(Hour|Hora|Value)\\d{0,2}$/i.test(k) && Number.isFinite(Number(v)) && Number(v)>0) vals.push(Number(v)); else if (typeof v==='object') walk(v); } } };\n      walk(j);\n      if (vals.length) return vals.reduce((s,v)=>s+v,0)/vals.length; // COP/MWh\n    } catch { continue; }\n  }\n  return null;\n};\n\nconst results = { source: [], updatedOperators: 0, components: null, errors: [] };\n\n// Intentar SUI\nlet suiRows = null;\ntry {\n  suiRows = await fetchSUI();\n  results.source.push('SUI datos.gov.co');\n} catch (e) {\n  results.errors.push(`SUI: ${e.message}`);\n}\n\n// Intentar XM bolsa para G\nlet gCopMwh = null;\ntry {\n  gCopMwh = await fetchXMSpot();\n  if (gCopMwh) results.source.push('XM bolsa');\n} catch (e) {\n  results.errors.push(`XM: ${e.message}`);\n}\n\n// Construir componentes actualizados\n// Si tenemos SUI, parsear. Si no, usar G de XM + fracciones fijas para T/D/Cv/PR/R.\nconst G_FRAC = 0.52; const T_FRAC = 0.08; const D_FRAC = 0.22; const Cv_FRAC = 0.05; const PR_FRAC = 0.08; const R_FRAC = 0.05;\n\nif (suiRows && suiRows.length) {\n  // Parsear SUI: extraer tarifa CU y componentes si están presentes\n  // Columnas típicas: empresa, anio, mes, cargo_g, cargo_t, cargo_d, cargo_cv, cargo_pr, cargo_r, cu\n  const COMPONENT_MAP = [\n    ['G',  ['cargo_g','generacion','g_kwh','g']],\n    ['T',  ['cargo_t','transmision','t_kwh','t']],\n    ['D',  ['cargo_d','distribucion','d_kwh','d']],\n    ['Cv', ['cargo_cv','comercializacion','cv_kwh','cv']],\n    ['PR', ['cargo_pr','perdidas','pr_kwh','pr']],\n    ['R',  ['cargo_r','restricciones','r_kwh','r']],\n    ['CU', ['cargo_total','cu','tarifa','tarifa_cu','cu_kwh']],\n  ];\n  const grouped = {};\n  for (const row of suiRows) {\n    const empresa = (row.empresa || row.operador || row.nombre_empresa || '').toString().trim();\n    if (!empresa) continue;\n    if (!grouped[empresa]) grouped[empresa] = [];\n    grouped[empresa].push(row);\n  }\n  const parsed = {};\n  for (const [emp, rows] of Object.entries(grouped)) {\n    const latest = rows[0]; // ya ordenado DESC\n    const comp = {};\n    for (const [key, aliases] of COMPONENT_MAP) {\n      for (const alias of aliases) {\n        const v = parseFloat(latest[alias]);\n        if (Number.isFinite(v) && v > 0) { comp[key] = v; break; }\n      }\n    }\n    if (comp.CU && Object.keys(comp).length >= 3) {\n      parsed[emp] = comp;\n    }\n  }\n  if (Object.keys(parsed).length) {\n    results.components = parsed;\n    results.source.push('SUI componentes');\n  }\n}\n\n// Si SUI no dio componentes, usar G de XM + fracciones para CU estimada\nif (!results.components && gCopMwh) {\n  const G_kwh = gCopMwh / 1000;\n  // Invertir: si G = 52% de CU, entonces CU = G / 0.52\n  const CU_est = G_kwh / G_FRAC;\n  results.components = {\n    __default__: {\n      G:  Math.round(G_kwh),\n      T:  Math.round(CU_est * T_FRAC),\n      D:  Math.round(CU_est * D_FRAC),\n      Cv: Math.round(CU_est * Cv_FRAC),\n      PR: Math.round(CU_est * PR_FRAC),\n      R:  Math.round(CU_est * R_FRAC),\n      CU: Math.round(CU_est),\n      derivedFrom: 'XM bolsa',\n    }\n  };\n}\n\nresults.syncedAt = new Date().toISOString();\nreturn [{ json: results }];"
      },
      "id": "ca000000-000a-4000-9000-000000000003",
      "name": "Obtener tarifas (SUI + XM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert de componentes tarifarios en la tabla operators_tariffs.\n-- Si la tabla no existe aún, la creamos aquí también.\nCREATE TABLE IF NOT EXISTS operators_tariffs (\n  id          SERIAL PRIMARY KEY,\n  sic         TEXT,\n  operator    TEXT NOT NULL,\n  year        INT,\n  month       INT,\n  G           NUMERIC,\n  T           NUMERIC,\n  D           NUMERIC,\n  Cv          NUMERIC,\n  PR          NUMERIC,\n  R           NUMERIC,\n  CU          NUMERIC,\n  source      TEXT,\n  synced_at   TIMESTAMPTZ DEFAULT NOW(),\n  UNIQUE (operator, year, month)\n);\n\nINSERT INTO operators_tariffs (operator, year, month, G, T, D, Cv, PR, R, CU, source, synced_at)\nSELECT\n  $1,\n  EXTRACT(YEAR  FROM NOW())::INT,\n  EXTRACT(MONTH FROM NOW())::INT,\n  $2, $3, $4, $5, $6, $7, $8, $9,\n  NOW()\nON CONFLICT (operator, year, month)\nDO UPDATE SET\n  G=EXCLUDED.G, T=EXCLUDED.T, D=EXCLUDED.D,\n  Cv=EXCLUDED.Cv, PR=EXCLUDED.PR, R=EXCLUDED.R,\n  CU=EXCLUDED.CU, source=EXCLUDED.source, synced_at=NOW()\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [\n  '__default__',\n  $json.components?.__default__?.G ?? null,\n  $json.components?.__default__?.T ?? null,\n  $json.components?.__default__?.D ?? null,\n  $json.components?.__default__?.Cv ?? null,\n  $json.components?.__default__?.PR ?? null,\n  $json.components?.__default__?.R ?? null,\n  $json.components?.__default__?.CU ?? null,\n  ($json.source || []).join(', ')\n] }}"
        }
      },
      "id": "ca000000-000a-4000-9000-000000000004",
      "name": "Guardar en Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 300],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const sync = $('Obtener tarifas (SUI + XM)').first().json;\nconst saved = $input.first().json;\nreturn [{ json: {\n  ok: true,\n  message: 'Tarifas sincronizadas correctamente',\n  source: sync.source,\n  components: sync.components?.__default__ ?? null,\n  errors: sync.errors,\n  syncedAt: sync.syncedAt,\n} }];"
      },
      "id": "ca000000-000a-4000-9000-000000000005",
      "name": "Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "jsCode": "const detail = $input.first()?.json?.message || 'Error guardando en Postgres';\nreturn [{ json: { ok: false, reason: 'db_error', detail } }];"
      },
      "id": "ca000000-000a-4000-9000-000000000006",
      "name": "Error DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "ca000000-000a-4000-9000-000000000007",
      "name": "Responder (manual)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Cron mensual (día 1, 7am)": {
      "main": [[{ "node": "Obtener tarifas (SUI + XM)", "type": "main", "index": 0 }]]
    },
    "Webhook manual": {
      "main": [[{ "node": "Obtener tarifas (SUI + XM)", "type": "main", "index": 0 }]]
    },
    "Obtener tarifas (SUI + XM)": {
      "main": [[{ "node": "Guardar en Postgres", "type": "main", "index": 0 }]]
    },
    "Guardar en Postgres": {
      "main": [
        [{ "node": "Resultado",  "type": "main", "index": 0 }],
        [{ "node": "Error DB",   "type": "main", "index": 0 }]
      ]
    },
    "Resultado": {
      "main": [[{ "node": "Responder (manual)", "type": "main", "index": 0 }]]
    },
    "Error DB": {
      "main": [[{ "node": "Responder (manual)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "active": false,
  "versionId": "1"
}
