n8n/validate-contact.json
{
  "name": "ALEBAS — validate-contact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1000000-0001-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-validate-contact"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza input y valida formato/honeypot antes de consultar BD.\nconst src = $input.first().json;\nconst body = src.body || src;\nconst email = (body.email || '').toString().trim().toLowerCase();\nconst phone = (body.phone || '').toString().trim();\nconst name = (body.name || '').toString().trim();\nconst company = (body.company || '').toString().trim();\nconst website = (body.website || '').toString().trim();\nconst ip = (src.headers && (src.headers['x-forwarded-for'] || src.headers['x-real-ip'])) || '';\n\nif (website) {\n  // Honeypot relleno — bot. Respondemos genérico.\n  return [{ json: { ok: false, reason: 'validation_failed' } }];\n}\nif (!email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) {\n  return [{ json: { ok: false, reason: 'invalid_email' } }];\n}\nif (!phone || phone.replace(/\\D/g, '').length < 7) {\n  return [{ json: { ok: false, reason: 'invalid_phone' } }];\n}\nif (!name) {\n  return [{ json: { ok: false, reason: 'missing_name' } }];\n}\nreturn [{ json: { ok: true, email, phone, name, company, ip } }];"
      },
      "id": "c1000000-0001-4000-9000-000000000002",
      "name": "Normalize & format check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "ok", "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1000000-0001-4000-9000-000000000003",
      "name": "Format valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH prior AS (\n  SELECT id, quote_count, blocked, block_reason\n  FROM users WHERE email = $1\n), recent AS (\n  SELECT COUNT(*) AS c\n  FROM quotes q JOIN users u ON q.user_id = u.id\n  WHERE u.email = $1 AND q.created_at > NOW() - INTERVAL '7 days'\n)\nSELECT\n  COALESCE((SELECT id FROM prior), 0) AS user_id,\n  COALESCE((SELECT quote_count FROM prior), 0) AS quote_count,\n  COALESCE((SELECT blocked FROM prior), FALSE) AS blocked,\n  (SELECT block_reason FROM prior) AS block_reason,\n  (SELECT c FROM recent) AS recent_7d;",
        "options": { "queryReplacement": "={{ $json.email }}" }
      },
      "id": "c1000000-0001-4000-9000-000000000004",
      "name": "Postgres lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": { "postgres": { "id": "ALEBAS_POSTGRES", "name": "ALEBAS Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "// Evalúa dedupe/rate-limit y arma respuesta final.\nconst norm = $('Normalize & format check').first().json;\nconst db = $input.first().json || {};\nconst userId = Number(db.user_id || 0);\nconst quoteCount = Number(db.quote_count || 0);\nconst blocked = db.blocked === true;\nconst recent = Number(db.recent_7d || 0);\n\nif (blocked) {\n  return [{ json: { ok: false, reason: 'blocked', message: db.block_reason || 'Contacto bloqueado. Escríbenos a info@alebas.co.' } }];\n}\nif (recent >= 5) {\n  return [{ json: { ok: false, reason: 'rate_limit', message: 'Has solicitado muchas cotizaciones recientemente. Un ingeniero te contactará pronto.' } }];\n}\nreturn [{ json: {\n  ok: true,\n  userId,\n  isReturning: userId > 0,\n  priorQuotes: quoteCount,\n  contact: { email: norm.email, phone: norm.phone, name: norm.name, company: norm.company },\n} }];"
      },
      "id": "c1000000-0001-4000-9000-000000000005",
      "name": "Evaluate policy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c1000000-0001-4000-9000-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize & format check", "type": "main", "index": 0 }]] },
    "Normalize & format check": { "main": [[{ "node": "Format valid?", "type": "main", "index": 0 }]] },
    "Format valid?": {
      "main": [
        [{ "node": "Postgres lookup", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Postgres lookup": { "main": [[{ "node": "Evaluate policy", "type": "main", "index": 0 }]] },
    "Evaluate policy": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "versionId": "1"
}
