n8n/xm-spot.json
{
  "name": "XM - Precio de bolsa nacional (spot)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xm-spot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c7000000-0007-4000-9000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alebas-xm-spot"
    },
    {
      "parameters": {
        "jsCode": "// Precio promedio bolsa nacional XM últimos N días.\n// XM cambia MetricId y endpoint con frecuencia.\n// Estrategia: probar muchos candidatos rápido (8s timeout + 30s budget global)\n// y si todos fallan, intentar discovery vía MasterDataMetrics.\nconst src = $input.first().json;\nconst body = src.body || src;\nconst daysBack = Math.min(Math.max(parseInt(body.days ?? 30, 10) || 30, 1), 90);\n\nconst XM_BASE = 'https://servapibi.xm.com.co';\nconst REQUEST_TIMEOUT_MS = 8000;\nconst GLOBAL_BUDGET_MS = 30000;\nconst startedAt = Date.now();\nconst isoDate = d => d.toISOString().slice(0, 10);\nconst endDate = new Date(Date.now() - 24 * 60 * 60 * 1000); // T-1 (XM publica con delay)\nconst startDate = new Date(endDate.getTime() - daysBack * 24 * 60 * 60 * 1000);\n\n// XM a veces responde con texto plano en vez de JSON (ej. 'Id de Métrica no encontrada.')\n// Devolvemos un objeto marker para no crashear y poder seguir con el siguiente candidato.\nconst safeParse = (raw) => {\n  if (raw == null) return { __plainText: '' };\n  if (typeof raw === 'object') return raw;\n  const s = String(raw).trim();\n  if (!s) return { __plainText: '' };\n  if (s[0] !== '{' && s[0] !== '[') return { __plainText: s };\n  try { return JSON.parse(s); } catch { return { __plainText: s }; }\n};\n\nconst postXM = async (path, reqBody) => {\n  const r = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${XM_BASE}${path}`,\n    headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'User-Agent': 'alebas-cotizador/1.0' },\n    body: JSON.stringify(reqBody),\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: REQUEST_TIMEOUT_MS,\n  });\n  return { status: r.statusCode, body: safeParse(r.body) };\n};\n\nconst getXM = async (path) => {\n  const r = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${XM_BASE}${path}`,\n    headers: { 'Accept': 'application/json', 'User-Agent': 'alebas-cotizador/1.0' },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: REQUEST_TIMEOUT_MS,\n  });\n  return { status: r.statusCode, body: safeParse(r.body) };\n};\n\n// Considera respuesta válida si: 2xx + body es objeto/array + NO es marker de texto plano + NO es mensaje de error conocido.\nconst KNOWN_ERROR_TEXTS = [\n  'id de métrica no encontrada',\n  'metrica no encontrada',\n  'metric not found',\n  'no encontrado',\n  'error',\n];\nconst isValidPayload = (resp) => {\n  if (!resp || resp.status < 200 || resp.status >= 300) return false;\n  const b = resp.body;\n  if (!b || typeof b !== 'object') return false;\n  if ('__plainText' in b) {\n    const t = String(b.__plainText).toLowerCase();\n    return !KNOWN_ERROR_TEXTS.some(e => t.includes(e));\n  }\n  return true;\n};\n\n// Candidatos: combinación de paths × MetricIds × Entities. Como las requests son rápidas (~1s),\n// podemos probar varios sin cuelgues largos.\nconst PATHS = ['/hourly', '/daily', '/HourlyMetrics', '/DailyMetrics'];\nconst METRIC_IDS = ['PrecBolsNal', 'Preciobols', 'PrecBolsa', 'PrecioBolsaNal', 'PrecioBolsa', 'Bolsa', 'Precbolsanal'];\nconst ENTITIES = ['Sistema', 'SIN', null];\nconst CANDIDATES = [];\nfor (const path of PATHS) {\n  for (const MetricId of METRIC_IDS) {\n    for (const Entity of ENTITIES) {\n      CANDIDATES.push({ path, MetricId, Entity });\n    }\n  }\n}\n\nlet rawJson = null;\nlet usedLabel = '';\nconst tried = [];\nlet lastError = '';\nfor (const c of CANDIDATES) {\n  if (Date.now() - startedAt > GLOBAL_BUDGET_MS) {\n    lastError = `global timeout (${GLOBAL_BUDGET_MS}ms) excedido`;\n    break;\n  }\n  const reqBody = { MetricId: c.MetricId, StartDate: isoDate(startDate), EndDate: isoDate(endDate) };\n  if (c.Entity) reqBody.Entity = c.Entity;\n  const label = `${c.path}/${c.MetricId}${c.Entity ? '/'+c.Entity : ''}`;\n  try {\n    const resp = await postXM(c.path, reqBody);\n    tried.push({ label, status: resp.status, hint: resp.body?.__plainText?.slice(0, 80) });\n    if (isValidPayload(resp)) {\n      rawJson = resp.body;\n      usedLabel = label;\n      break;\n    }\n  } catch (err) {\n    lastError = err.message;\n    tried.push({ label, error: err.message });\n  }\n}\n\n// Discovery fallback: si nada respondió con datos, listar métricas disponibles\n// para que en el siguiente deploy actualicemos el array METRIC_IDS.\nlet discovery = null;\nif (!rawJson && Date.now() - startedAt < GLOBAL_BUDGET_MS - 3000) {\n  try {\n    const resp = await getXM('/MasterDataMetrics');\n    if (resp.status >= 200 && resp.status < 300 && resp.body && typeof resp.body === 'object' && !('__plainText' in resp.body)) {\n      discovery = Array.isArray(resp.body) ? resp.body.slice(0, 100) : resp.body;\n    }\n  } catch (err) {\n    // ignore\n  }\n}\n\nif (!rawJson) {\n  return [{ json: { ok: false, reason: 'xm_schema_drift', detail: `Ningún MetricId respondió con datos válidos. ${lastError ? 'Último error: ' + lastError : ''}`, tried, discovery, elapsedMs: Date.now() - startedAt } }];\n}\n\n// Extractor recursivo: recoge valores numéricos en claves Hour##/Hora##/Value##/Precio/Price/Total.\nconst values = [];\nconst walk = (node) => {\n  if (node == null) return;\n  if (Array.isArray(node)) { node.forEach(walk); return; }\n  if (typeof node === 'object') {\n    for (const [k, v] of Object.entries(node)) {\n      if (/^(Hour|Hora|Value|Precio|Price|Total)\\d{0,2}$/i.test(k) && Number.isFinite(Number(v)) && Number(v) > 0) {\n        values.push(Number(v));\n      } else if (typeof v === 'object') {\n        walk(v);\n      }\n    }\n  }\n};\nwalk(rawJson);\n\nif (!values.length) {\n  return [{ json: { ok: false, reason: 'xm_no_values', detail: `Respuesta válida pero sin valores numéricos extraíbles (métrica: ${usedLabel})`, sample: rawJson } }];\n}\n\nconst avgMwh = values.reduce((s, v) => s + v, 0) / values.length;\nreturn [{ json: {\n  ok: true,\n  cop_per_kwh:     Number((avgMwh / 1000).toFixed(2)),\n  avg_cop_per_mwh: Number(avgMwh.toFixed(2)),\n  samples:         values.length,\n  periodDays:      daysBack,\n  startDate:       isoDate(startDate),\n  endDate:         isoDate(endDate),\n  usedMetric:      usedLabel,\n  syncedAt:        new Date().toISOString(),\n  source:          `XM ${usedLabel}`,\n} }];"
      },
      "id": "c7000000-0007-4000-9000-000000000002",
      "name": "Consultar XM Spot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "s-maxage=21600, stale-while-revalidate=3600" }
            ]
          }
        }
      },
      "id": "c7000000-0007-4000-9000-000000000003",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Consultar XM Spot", "type": "main", "index": 0 }]]
    },
    "Consultar XM Spot": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "alebas" }],
  "triggerCount": 0,
  "active": false,
  "versionId": "1"
}
